### 소상공인상권정보 데이터로 국내에 있는 음식점 현황 및 트렌드를 파악해봅시다.

[데이터 링크] https://www.data.go.kr/data/15083033/fileData.do

1. 한식 / 일식 / 중식 음식점 비율 찾기


2. 각 지역별 음식점 비율 계산해보기


3. 한식 음식점들이 많이 사용하는 단어 찾아보기

In [34]:
# 텍스트 분석에 필요한 라이브러리 설치하기
!pip install pecab wordcloud

Requirement already satisfied: pecab in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (1.0.8)
Requirement already satisfied: wordcloud in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (1.9.2)
Requirement already satisfied: numpy in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from pecab) (1.25.2)
Requirement already satisfied: pyarrow in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from pecab) (12.0.1)
Requirement already satisfied: regex in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from pecab) (2023.8.8)
Requirement already satisfied: emoji==1.2.0 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from pecab) (1.2.0)
Requirement already satisfied: pytest in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from pecab) (7.4.0)
Requirement already satisfied: pillow in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from wordcloud) (10.0.0)
Requirement already satisfied: matplotlib in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from wordcloud) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from matplotlib->wordcloud) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from matplotlib->wordcloud) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from matplotlib->wordcloud) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: iniconfig in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from pytest->pecab) (2.0.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from pytest->pecab) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from pytest->pecab) (1.1.2)
Requirement already satisfied: tomli>=1.0.0 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from pytest->pecab) (2.0.1)
Requirement already satisfied: colorama in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from pytest->pecab) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\dukim\miniconda3\envs\bootcamp\lib\site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)

In [67]:
# 필요한 라이브러리를 불러옵니다.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob
from tqdm.auto import tqdm

In [36]:
# 데이터들을 불러와봅시다.
area_list = ['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산', '인천', '전남', '전북', '제주', '충남', '충북']
file_list = [f'./data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_{area}_202306.csv' for area in sorted(area_list)]
file_list

['./data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_강원_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_경기_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_경남_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_경북_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_광주_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_대구_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_대전_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_부산_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_서울_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_세종_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_울산_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_인천_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_전남_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_전북_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_제주_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_충남_202306.csv',
 './data/상가(상권)정보_20230630/소상공인시장진흥공단_상가(상권)정보_충북_202306.csv']

In [37]:
# glob으로 파일 가져오기
file_list = sorted(glob('./data/상가(상권)정보_20230630/*.csv'))
file_list

['./data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_강원_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_경기_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_경남_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_경북_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_광주_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_대구_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_대전_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_부산_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_서울_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_세종_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_울산_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_인천_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_전남_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_전북_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_제주_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_충남_202306.csv',
 './data/상가(상권)정보_20230630\\소상공인시장진흥공단_상가(상권)정보_충북_202306.csv']

In [38]:
df = pd.DataFrame()
for filepath in tqdm(file_list):
    df_tmp = pd.read_csv(filepath)
    df = pd.concat([df, df_tmp])

df.info()

  0%|          | 0/17 [00:00<?, ?it/s]

C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)
C:\Users\dukim\AppData\Local\Temp\ipykernel_18908\23371788.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(filepath)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2417759 entries, 0 to 81722
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     object
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      float64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      int64
 26  도로명        object
 27  건물본번지      float64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      int64
 33  신우편번호      int64
 34  동정보        float64
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(8), int64(9), object(22)
memory usage: 737.8+ MB

In [39]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2417759 entries, 0 to 81722
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     object
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      float64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      int64
 26  도로명        object
 27  건물본번지      float64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      int64
 33  신우편번호      int64
 34  동정보        float64
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(8), int64(9), object(22)
memory usage: 4.4 GB

In [40]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0084547,금강산노래광장,NaN,I2,음식,I211,주점,I21101,일반 유흥 주점,I56211,...,4217010300007470000000086,파크장,강원특별자치도 동해시 송정로 11,240806,25789,NaN,지,NaN,129.127525,37.495265
1,MA010120220805430826,에이치속눈썹수강아카데미,NaN,S2,수리·개인,S207,이용·미용,S20702,피부 관리실,S96113,...,4211039021110620001000001,NaN,강원특별자치도 춘천시 동내면 외솔길19번길 80-36,200883,24401,NaN,NaN,NaN,127.758764,37.857831
2,MA010120220805430903,엔젤,NaN,I2,음식,I201,한식,I20101,백반/한정식,I55109,...,4277032022103660000008290,NaN,강원특별자치도 정선군 남면 민둥산로 175-13,233837,26148,NaN,NaN,NaN,128.792089,37.259788
3,MA010120220805430941,누베헤어,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,4211012500100440010000008,춘천파크자이,강원특별자치도 춘천시 스포츠타운길 458,200200,24472,NaN,3,NaN,127.707653,37.867744
4,MA010120220805430946,공차,NaN,I2,음식,I212,비알코올,I21201,카페,I56229,...,4213033023113500001000001,NaN,강원특별자치도 원주시 지정면 신지정로 211,220821,26354,NaN,NaN,NaN,127.872713,37.374189

In [41]:
df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [42]:
# df_ex1 = df[:10000]
df_ex1 = df.sample(n=10000, random_state=42)
df_ex1

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
101226,MA010120220812461834,라이풀,NaN,I2,음식,I204,서양식,I20401,경양식,I56123,...,4889045023107000030044442,NaN,경상남도 합천군 대병면 회양관광단지길 28-10,678922,50216,NaN,NaN,NaN,128.018896,35.525334
41200,MA010120220811988835,토리비어,NaN,I2,음식,I211,주점,I21104,요리 주점,I56219,...,2914012800110730006000001,NaN,광주광역시 서구 풍암2로57번길 15-1,502833,62068,NaN,1,NaN,126.883459,35.123442
146236,MA010120220811504078,삼삼공,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,4117110100105330028010604,서희아리채,경기도 안양시 만안구 문예로52번길 19,430824,14035,NaN,1,NaN,126.934270,37.385396
105044,MA0101202209A0074319,힐링아로마,NaN,G2,소매,G215,의약·화장품 소매,G21503,화장품 소매업,G47813,...,2729010800112130000000403,NaN,대구광역시 달서구 달구벌대로251길 9,704940,42612,NaN,3,NaN,128.504499,35.852968
24645,MA010120220806106502,삼한직업소개소,NaN,N1,시설관리·임대,N104,고용 알선,N10401,고용 알선업,N75110,...,4413111300100470000018661,성현마트,충청남도 천안시 동남구 우영1길 32,330931,31152,NaN,1,NaN,127.140816,36.806736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33418,MA010120220807938109,신호남부분정비공업사,NaN,S2,수리·개인,S203,자동차 수리·세차,S20301,자동차 정비소,S95212,...,4613013500100520003020674,NaN,전라남도 여수시 시청로 98-1,555800,59635,NaN,NaN,NaN,127.663390,34.770315
435394,MA010120220805087513,케이와이씨파트너스,NaN,M1,과학·기술,M107,본사·경영 컨설팅,M10703,경영 컨설팅업,M71531,...,1153010200108300001000001,디지털탑프라자,서울특별시 구로구 디지털로26길 98,152879,8393,NaN,NaN,NaN,126.897334,37.481578
52418,MA010120220809697390,한신포차,NaN,I2,음식,I211,주점,I21104,요리 주점,I56193,...,4413111600100710020030467,금강빌딩,충청남도 천안시 동남구 수곡1길 10,330938,31176,NaN,1,NaN,127.127007,36.789162
221968,MA010120220813496790,메가존에듀플러스,NaN,P1,교육,P107,교육 지원,P10701,교육컨설팅업,P85701,...,4127110300112580007022565,사동주택,경기도 안산시 상록구 이화6길 4-3,426822,15583,NaN,NaN,NaN,126.854871,37.300170
39987,MA010120220810843129,등나무횟집,NaN,I2,음식,I201,한식,I20111,횟집,I56114,...,4874025321102760004016053,NaN,경상남도 창녕군 남지읍 낙동로 536,635903,50357,NaN,NaN,NaN,128.483050,35.389665

In [43]:
df_ex1.iloc[:, 1:11] # 상호명, 상권업종중분류명

,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,표준산업분류명
101226,라이풀,NaN,I2,음식,I204,서양식,I20401,경양식,I56123,서양식 음식점업
41200,토리비어,NaN,I2,음식,I211,주점,I21104,요리 주점,I56219,기타 주점업
146236,삼삼공,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,한식 일반 음식점업
105044,힐링아로마,NaN,G2,소매,G215,의약·화장품 소매,G21503,화장품 소매업,G47813,"화장품, 비누 및 방향제 소매업"
24645,삼한직업소개소,NaN,N1,시설관리·임대,N104,고용 알선,N10401,고용 알선업,N75110,고용 알선업
...,...,...,...,...,...,...,...,...,...,...
33418,신호남부분정비공업사,NaN,S2,수리·개인,S203,자동차 수리·세차,S20301,자동차 정비소,S95212,자동차 전문 수리업
435394,케이와이씨파트너스,NaN,M1,과학·기술,M107,본사·경영 컨설팅,M10703,경영 컨설팅업,M71531,경영 컨설팅업
52418,한신포차,NaN,I2,음식,I211,주점,I21104,요리 주점,I56193,치킨 전문점
221968,메가존에듀플러스,NaN,P1,교육,P107,교육 지원,P10701,교육컨설팅업,P85701,교육관련 자문 및 평가업
39987,등나무횟집,NaN,I2,음식,I201,한식,I20111,횟집,I56114,한식 해산물 요리 전문점

In [44]:
df_ex1.iloc[:, 11:15] # 시도명

        시도코드    시도명  시군구코드     시군구명
101226    48   경상남도  48890      합천군
41200     29  광주광역시  29140       서구
146236    41    경기도  41171  안양시 만안구
105044    27  대구광역시  27290      달서구
24645     44   충청남도  44131  천안시 동남구
...      ...    ...    ...      ...
33418     46   전라남도  46130      여수시
435394    11  서울특별시  11530      구로구
52418     44   충청남도  44131  천안시 동남구
221968    41    경기도  41271  안산시 상록구
39987     48   경상남도  48740      창녕군

[10000 rows x 4 columns]

In [45]:
df = df.loc[:, ['상호명', '상권업종대분류명', '상권업종중분류명', '시도명']]
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2417759 entries, 0 to 81722
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   상호명       object
 1   상권업종대분류명  object
 2   상권업종중분류명  object
 3   시도명       object
dtypes: object(4)
memory usage: 861.9 MB

In [46]:
df_ex1 = None
import gc
gc.collect()

20

# 한식/일식/중식 음식점 비율 찾기

In [47]:
df.head()

            상호명 상권업종대분류명 상권업종중분류명      시도명
0       금강산노래광장       음식       주점  강원특별자치도
1  에이치속눈썹수강아카데미    수리·개인    이용·미용  강원특별자치도
2            엔젤       음식       한식  강원특별자치도
3          누베헤어    수리·개인    이용·미용  강원특별자치도
4            공차       음식    비알코올   강원특별자치도

In [48]:
ratio = df['상권업종중분류명'].value_counts() / len(df)
ratio

한식             0.133474
기타 간이          0.065455
이용·미용          0.064370
섬유·의복·신발 소매    0.057064
종합 소매          0.050152
                 ...
모터사이클 소매       0.000841
조경·유지          0.000601
통신장비 수리        0.000588
시장 조사          0.000518
기타 외국          0.000002
Name: 상권업종중분류명, Length: 75, dtype: float64

In [49]:
print(f"한식 : {ratio['한식']*100:.2f} %, 중식 : {ratio['중식']*100:.2f} %, 일식 : {ratio['일식']*100:.2f} %")

한식 : 13.35 %, 중식 : 1.23 %, 일식 : 0.86 %

# 각 지역별 음식점 비율 계산해 보기

In [50]:
df.head()

            상호명 상권업종대분류명 상권업종중분류명      시도명
0       금강산노래광장       음식       주점  강원특별자치도
1  에이치속눈썹수강아카데미    수리·개인    이용·미용  강원특별자치도
2            엔젤       음식       한식  강원특별자치도
3          누베헤어    수리·개인    이용·미용  강원특별자치도
4            공차       음식    비알코올   강원특별자치도

In [51]:
category_count = df.pivot_table(values='상호명',index='시도명', columns='상권업종중분류명',aggfunc='count')
category_count

상권업종중분류명,가구 소매,가전·통신 소매,가전제품 수리,가정용품 대여,고용 알선,광고,교육 지원,구내식당·뷔페,기술 서비스,기타 가정용품 수리,...,종합 소매,주점,중고 상품 소매,중식,철물·건설자재 소매,청소·방제,컴퓨터 수리,통신장비 수리,한식,회계·세무
시도명,,,,,,,,,,,,,,,,,,,,,
강원특별자치도,339.0,1301.0,445.0,634.0,503.0,622.0,191.0,228.0,1081.0,506.0,...,5514.0,4436.0,282.0,1178.0,1267.0,735.0,183.0,37.0,17203.0,196.0
경기도,2892.0,8356.0,2880.0,1949.0,3838.0,8088.0,1875.0,3180.0,9759.0,3242.0,...,28697.0,20748.0,2365.0,6808.0,5109.0,5380.0,1962.0,383.0,65779.0,3300.0
경상남도,790.0,2549.0,715.0,459.0,1014.0,871.0,297.0,730.0,2421.0,714.0,...,8276.0,9321.0,595.0,2019.0,1823.0,1170.0,405.0,68.0,27306.0,531.0
경상북도,590.0,2158.0,540.0,380.0,962.0,716.0,258.0,547.0,1842.0,656.0,...,7474.0,6161.0,486.0,1878.0,1761.0,1017.0,303.0,49.0,23209.0,275.0
광주광역시,349.0,1433.0,335.0,203.0,444.0,843.0,239.0,180.0,1212.0,361.0,...,3191.0,3665.0,288.0,619.0,710.0,543.0,187.0,47.0,8074.0,378.0
대구광역시,544.0,2001.0,554.0,360.0,710.0,1295.0,316.0,422.0,1707.0,657.0,...,4730.0,5202.0,538.0,1343.0,824.0,780.0,369.0,78.0,14655.0,659.0
대전광역시,328.0,1351.0,371.0,259.0,359.0,931.0,249.0,229.0,1000.0,469.0,...,3214.0,2452.0,374.0,789.0,675.0,761.0,260.0,44.0,9290.0,329.0
부산광역시,650.0,2205.0,639.0,383.0,849.0,1464.0,461.0,452.0,2305.0,834.0,...,6761.0,8778.0,656.0,1956.0,1402.0,1087.0,500.0,111.0,20469.0,1104.0
서울특별시,1358.0,6904.0,1752.0,1505.0,3153.0,15771.0,3723.0,1187.0,10873.0,3296.0,...,18788.0,17690.0,1346.0,5178.0,3273.0,3530.0,1614.0,293.0,45753.0,6156.0
세종특별자치시,38.0,144.0,29.0,45.0,85.0,157.0,68.0,60.0,214.0,55.0,...,603.0,347.0,26.0,192.0,101.0,135.0,30.0,9.0,1833.0,62.0
울산광역시,200.0,830.0,230.0,121.0,360.0,304.0,120.0,194.0,891.0,225.0,...,2561.0,2922.0,149.0,644.0,469.0,508.0,149.0,18.0,8186.0,210.0
인천광역시,441.0,1926.0,551.0,310.0,704.0,1266.0,331.0,755.0,1318.0,585.0,...,6194.0,5272.0,467.0,1521.0,1095.0,993.0,418.0,75.0,14580.0,598.0
전라남도,410.0,1450.0,447.0,234.0,571.0,593.0,179.0,239.0,1351.0,482.0,...,5945.0,5642.0,247.0,1063.0,1432.0,759.0,197.0,32.0,15125.0,163.0
전라북도,544.0,1594.0,484.0,423.0,560.0,737.0,266.0,298.0,1234.0,490.0,...,5451.0,3686.0,301.0,1176.0,1398.0,686.0,199.0,44.0,12515.0,333.0
제주특별자치도,228.0,579.0,168.0,367.0,186.0,399.0,119.0,109.0,644.0,180.0,...,2523.0,2863.0,122.0,523.0,370.0,399.0,64.0,22.0,7968.0,154.0
충청남도,415.0,1673.0,511.0,365.0,1165.0,725.0,208.0,571.0,1440.0,544.0,...,6612.0,4394.0,401.0,1564.0,1462.0,887.0,225.0,69.0,17346.0,330.0
충청북도,381.0,1250.0,352.0,226.0,879.0,577.0,185.0,461.0,1080.0,420.0,...,4721.0,3498.0,312.0,1200.0,933.0,756.0,242.0,42.0,13418.0,226.0

In [52]:
# 시도명, 상권업종중분류명 기준으로 업종명을 count 세고
# unstack으로 index로 있던 상권업종분류명을 column으로 올림
category_count = df.groupby(['시도명', '상권업종중분류명'])['상호명'].count().unstack()
category_count

상권업종중분류명,가구 소매,가전·통신 소매,가전제품 수리,가정용품 대여,고용 알선,광고,교육 지원,구내식당·뷔페,기술 서비스,기타 가정용품 수리,...,종합 소매,주점,중고 상품 소매,중식,철물·건설자재 소매,청소·방제,컴퓨터 수리,통신장비 수리,한식,회계·세무
시도명,,,,,,,,,,,,,,,,,,,,,
강원특별자치도,339.0,1301.0,445.0,634.0,503.0,622.0,191.0,228.0,1081.0,506.0,...,5514.0,4436.0,282.0,1178.0,1267.0,735.0,183.0,37.0,17203.0,196.0
경기도,2892.0,8356.0,2880.0,1949.0,3838.0,8088.0,1875.0,3180.0,9759.0,3242.0,...,28697.0,20748.0,2365.0,6808.0,5109.0,5380.0,1962.0,383.0,65779.0,3300.0
경상남도,790.0,2549.0,715.0,459.0,1014.0,871.0,297.0,730.0,2421.0,714.0,...,8276.0,9321.0,595.0,2019.0,1823.0,1170.0,405.0,68.0,27306.0,531.0
경상북도,590.0,2158.0,540.0,380.0,962.0,716.0,258.0,547.0,1842.0,656.0,...,7474.0,6161.0,486.0,1878.0,1761.0,1017.0,303.0,49.0,23209.0,275.0
광주광역시,349.0,1433.0,335.0,203.0,444.0,843.0,239.0,180.0,1212.0,361.0,...,3191.0,3665.0,288.0,619.0,710.0,543.0,187.0,47.0,8074.0,378.0
대구광역시,544.0,2001.0,554.0,360.0,710.0,1295.0,316.0,422.0,1707.0,657.0,...,4730.0,5202.0,538.0,1343.0,824.0,780.0,369.0,78.0,14655.0,659.0
대전광역시,328.0,1351.0,371.0,259.0,359.0,931.0,249.0,229.0,1000.0,469.0,...,3214.0,2452.0,374.0,789.0,675.0,761.0,260.0,44.0,9290.0,329.0
부산광역시,650.0,2205.0,639.0,383.0,849.0,1464.0,461.0,452.0,2305.0,834.0,...,6761.0,8778.0,656.0,1956.0,1402.0,1087.0,500.0,111.0,20469.0,1104.0
서울특별시,1358.0,6904.0,1752.0,1505.0,3153.0,15771.0,3723.0,1187.0,10873.0,3296.0,...,18788.0,17690.0,1346.0,5178.0,3273.0,3530.0,1614.0,293.0,45753.0,6156.0
세종특별자치시,38.0,144.0,29.0,45.0,85.0,157.0,68.0,60.0,214.0,55.0,...,603.0,347.0,26.0,192.0,101.0,135.0,30.0,9.0,1833.0,62.0
울산광역시,200.0,830.0,230.0,121.0,360.0,304.0,120.0,194.0,891.0,225.0,...,2561.0,2922.0,149.0,644.0,469.0,508.0,149.0,18.0,8186.0,210.0
인천광역시,441.0,1926.0,551.0,310.0,704.0,1266.0,331.0,755.0,1318.0,585.0,...,6194.0,5272.0,467.0,1521.0,1095.0,993.0,418.0,75.0,14580.0,598.0
전라남도,410.0,1450.0,447.0,234.0,571.0,593.0,179.0,239.0,1351.0,482.0,...,5945.0,5642.0,247.0,1063.0,1432.0,759.0,197.0,32.0,15125.0,163.0
전라북도,544.0,1594.0,484.0,423.0,560.0,737.0,266.0,298.0,1234.0,490.0,...,5451.0,3686.0,301.0,1176.0,1398.0,686.0,199.0,44.0,12515.0,333.0
제주특별자치도,228.0,579.0,168.0,367.0,186.0,399.0,119.0,109.0,644.0,180.0,...,2523.0,2863.0,122.0,523.0,370.0,399.0,64.0,22.0,7968.0,154.0
충청남도,415.0,1673.0,511.0,365.0,1165.0,725.0,208.0,571.0,1440.0,544.0,...,6612.0,4394.0,401.0,1564.0,1462.0,887.0,225.0,69.0,17346.0,330.0
충청북도,381.0,1250.0,352.0,226.0,879.0,577.0,185.0,461.0,1080.0,420.0,...,4721.0,3498.0,312.0,1200.0,933.0,756.0,242.0,42.0,13418.0,226.0

In [53]:
# 지역별 업종 비율 구하기
# 모든 열을 합산하여 지역별 전체업종수를 구하고
# 현재 업종수를 전체업종수(지역별)로 나눔
category_ratio = category_count.div(category_count.sum(axis=1), axis=0)
category_ratio

상권업종중분류명,가구 소매,가전·통신 소매,가전제품 수리,가정용품 대여,고용 알선,광고,교육 지원,구내식당·뷔페,기술 서비스,기타 가정용품 수리,...,종합 소매,주점,중고 상품 소매,중식,철물·건설자재 소매,청소·방제,컴퓨터 수리,통신장비 수리,한식,회계·세무
시도명,,,,,,,,,,,,,,,,,,,,,
강원특별자치도,0.003572,0.013707,0.004689,0.006680,0.005300,0.006553,0.002012,0.002402,0.011389,0.005331,...,0.058096,0.046738,0.002971,0.012411,0.013349,0.007744,0.001928,0.000390,0.181252,0.002065
경기도,0.005283,0.015265,0.005261,0.003560,0.007011,0.014775,0.003425,0.005809,0.017828,0.005923,...,0.052424,0.037903,0.004320,0.012437,0.009333,0.009828,0.003584,0.000700,0.120167,0.006029
경상남도,0.004877,0.015735,0.004414,0.002833,0.006260,0.005377,0.001833,0.004506,0.014945,0.004408,...,0.051089,0.057540,0.003673,0.012464,0.011254,0.007223,0.002500,0.000420,0.168564,0.003278
경상북도,0.004386,0.016042,0.004014,0.002825,0.007151,0.005323,0.001918,0.004066,0.013693,0.004877,...,0.055560,0.045800,0.003613,0.013961,0.013091,0.007560,0.002252,0.000364,0.172531,0.002044
광주광역시,0.004950,0.020323,0.004751,0.002879,0.006297,0.011956,0.003390,0.002553,0.017189,0.005120,...,0.045256,0.051978,0.004085,0.008779,0.010069,0.007701,0.002652,0.000667,0.114509,0.005361
대구광역시,0.004910,0.018059,0.005000,0.003249,0.006408,0.011688,0.002852,0.003809,0.015406,0.005929,...,0.042689,0.046949,0.004856,0.012121,0.007437,0.007040,0.003330,0.000704,0.132263,0.005948
대전광역시,0.004633,0.019084,0.005241,0.003659,0.005071,0.013151,0.003517,0.003235,0.014126,0.006625,...,0.045400,0.034636,0.005283,0.011145,0.009535,0.010750,0.003673,0.000622,0.131228,0.004647
부산광역시,0.004374,0.014837,0.004300,0.002577,0.005713,0.009851,0.003102,0.003041,0.015510,0.005612,...,0.045495,0.059067,0.004414,0.013162,0.009434,0.007314,0.003364,0.000747,0.137735,0.007429
서울특별시,0.002866,0.014573,0.003698,0.003177,0.006655,0.033289,0.007858,0.002505,0.022950,0.006957,...,0.039657,0.037339,0.002841,0.010930,0.006909,0.007451,0.003407,0.000618,0.096574,0.012994
세종특별자치시,0.002866,0.010859,0.002187,0.003393,0.006410,0.011839,0.005128,0.004525,0.016138,0.004148,...,0.045472,0.026167,0.001961,0.014479,0.007616,0.010180,0.002262,0.000679,0.138225,0.004675
울산광역시,0.003887,0.016133,0.004471,0.002352,0.006997,0.005909,0.002332,0.003771,0.017319,0.004373,...,0.049779,0.056796,0.002896,0.012518,0.009116,0.009874,0.002896,0.000350,0.159115,0.004082
인천광역시,0.003969,0.017335,0.004959,0.002790,0.006336,0.011395,0.002979,0.006795,0.011863,0.005265,...,0.055750,0.047451,0.004203,0.013690,0.009856,0.008938,0.003762,0.000675,0.131230,0.005382
전라남도,0.004355,0.015402,0.004748,0.002486,0.006065,0.006299,0.001901,0.002539,0.014351,0.005120,...,0.063150,0.059931,0.002624,0.011292,0.015211,0.008062,0.002093,0.000340,0.160663,0.001731
전라북도,0.005981,0.017526,0.005322,0.004651,0.006157,0.008103,0.002925,0.003277,0.013568,0.005388,...,0.059935,0.040528,0.003310,0.012930,0.015371,0.007543,0.002188,0.000484,0.137605,0.003661
제주특별자치도,0.004228,0.010737,0.003115,0.006805,0.003449,0.007399,0.002207,0.002021,0.011942,0.003338,...,0.046785,0.053089,0.002262,0.009698,0.006861,0.007399,0.001187,0.000408,0.147753,0.002856
충청남도,0.003846,0.015504,0.004736,0.003383,0.010796,0.006719,0.001928,0.005292,0.013345,0.005041,...,0.061276,0.040721,0.003716,0.014494,0.013549,0.008220,0.002085,0.000639,0.160751,0.003058
충청북도,0.004662,0.015296,0.004307,0.002765,0.010756,0.007060,0.002264,0.005641,0.013215,0.005139,...,0.057768,0.042803,0.003818,0.014684,0.011417,0.009251,0.002961,0.000514,0.164189,0.002765

In [57]:
category_ratio = (category_count.T / category_count.sum(axis=1)).T
category_ratio

상권업종중분류명,가구 소매,가전·통신 소매,가전제품 수리,가정용품 대여,고용 알선,광고,교육 지원,구내식당·뷔페,기술 서비스,기타 가정용품 수리,...,종합 소매,주점,중고 상품 소매,중식,철물·건설자재 소매,청소·방제,컴퓨터 수리,통신장비 수리,한식,회계·세무
시도명,,,,,,,,,,,,,,,,,,,,,
강원특별자치도,0.003572,0.013707,0.004689,0.006680,0.005300,0.006553,0.002012,0.002402,0.011389,0.005331,...,0.058096,0.046738,0.002971,0.012411,0.013349,0.007744,0.001928,0.000390,0.181252,0.002065
경기도,0.005283,0.015265,0.005261,0.003560,0.007011,0.014775,0.003425,0.005809,0.017828,0.005923,...,0.052424,0.037903,0.004320,0.012437,0.009333,0.009828,0.003584,0.000700,0.120167,0.006029
경상남도,0.004877,0.015735,0.004414,0.002833,0.006260,0.005377,0.001833,0.004506,0.014945,0.004408,...,0.051089,0.057540,0.003673,0.012464,0.011254,0.007223,0.002500,0.000420,0.168564,0.003278
경상북도,0.004386,0.016042,0.004014,0.002825,0.007151,0.005323,0.001918,0.004066,0.013693,0.004877,...,0.055560,0.045800,0.003613,0.013961,0.013091,0.007560,0.002252,0.000364,0.172531,0.002044
광주광역시,0.004950,0.020323,0.004751,0.002879,0.006297,0.011956,0.003390,0.002553,0.017189,0.005120,...,0.045256,0.051978,0.004085,0.008779,0.010069,0.007701,0.002652,0.000667,0.114509,0.005361
대구광역시,0.004910,0.018059,0.005000,0.003249,0.006408,0.011688,0.002852,0.003809,0.015406,0.005929,...,0.042689,0.046949,0.004856,0.012121,0.007437,0.007040,0.003330,0.000704,0.132263,0.005948
대전광역시,0.004633,0.019084,0.005241,0.003659,0.005071,0.013151,0.003517,0.003235,0.014126,0.006625,...,0.045400,0.034636,0.005283,0.011145,0.009535,0.010750,0.003673,0.000622,0.131228,0.004647
부산광역시,0.004374,0.014837,0.004300,0.002577,0.005713,0.009851,0.003102,0.003041,0.015510,0.005612,...,0.045495,0.059067,0.004414,0.013162,0.009434,0.007314,0.003364,0.000747,0.137735,0.007429
서울특별시,0.002866,0.014573,0.003698,0.003177,0.006655,0.033289,0.007858,0.002505,0.022950,0.006957,...,0.039657,0.037339,0.002841,0.010930,0.006909,0.007451,0.003407,0.000618,0.096574,0.012994
세종특별자치시,0.002866,0.010859,0.002187,0.003393,0.006410,0.011839,0.005128,0.004525,0.016138,0.004148,...,0.045472,0.026167,0.001961,0.014479,0.007616,0.010180,0.002262,0.000679,0.138225,0.004675
울산광역시,0.003887,0.016133,0.004471,0.002352,0.006997,0.005909,0.002332,0.003771,0.017319,0.004373,...,0.049779,0.056796,0.002896,0.012518,0.009116,0.009874,0.002896,0.000350,0.159115,0.004082
인천광역시,0.003969,0.017335,0.004959,0.002790,0.006336,0.011395,0.002979,0.006795,0.011863,0.005265,...,0.055750,0.047451,0.004203,0.013690,0.009856,0.008938,0.003762,0.000675,0.131230,0.005382
전라남도,0.004355,0.015402,0.004748,0.002486,0.006065,0.006299,0.001901,0.002539,0.014351,0.005120,...,0.063150,0.059931,0.002624,0.011292,0.015211,0.008062,0.002093,0.000340,0.160663,0.001731
전라북도,0.005981,0.017526,0.005322,0.004651,0.006157,0.008103,0.002925,0.003277,0.013568,0.005388,...,0.059935,0.040528,0.003310,0.012930,0.015371,0.007543,0.002188,0.000484,0.137605,0.003661
제주특별자치도,0.004228,0.010737,0.003115,0.006805,0.003449,0.007399,0.002207,0.002021,0.011942,0.003338,...,0.046785,0.053089,0.002262,0.009698,0.006861,0.007399,0.001187,0.000408,0.147753,0.002856
충청남도,0.003846,0.015504,0.004736,0.003383,0.010796,0.006719,0.001928,0.005292,0.013345,0.005041,...,0.061276,0.040721,0.003716,0.014494,0.013549,0.008220,0.002085,0.000639,0.160751,0.003058
충청북도,0.004662,0.015296,0.004307,0.002765,0.010756,0.007060,0.002264,0.005641,0.013215,0.005139,...,0.057768,0.042803,0.003818,0.014684,0.011417,0.009251,0.002961,0.000514,0.164189,0.002765

In [55]:
# NaN 처리 - 업종자체가 없어서 0으로 나눠지는 경우가 있음, 비율이므로 0으로 처리
category_ratio[category_ratio.isnull().any(axis=1)]
category_ratio = category_ratio.fillna(0)
category_ratio[category_ratio.isnull().any(axis=1)]

Empty DataFrame
Columns: [강원특별자치도, 경기도, 경상남도, 경상북도, 광주광역시, 대구광역시, 대전광역시, 부산광역시, 서울특별시, 세종특별자치시, 울산광역시, 인천광역시, 전라남도, 전라북도, 제주특별자치도, 충청남도, 충청북도]
Index: []

In [58]:
for area in category_ratio.index:
    print(f"{area[:2]} - 한식 : {category_ratio.loc[area, '한식']*100:.2f} %, 중식 : {category_ratio.loc[area, '중식']*100:.2f} %, 일식 : {category_ratio.loc[area, '일식']*100:.2f} %")

강원 - 한식 : 18.13 %, 중식 : 1.24 %, 일식 : 0.55 %
경기 - 한식 : 12.02 %, 중식 : 1.24 %, 일식 : 0.88 %
경상 - 한식 : 16.86 %, 중식 : 1.25 %, 일식 : 0.67 %
경상 - 한식 : 17.25 %, 중식 : 1.40 %, 일식 : 0.55 %
광주 - 한식 : 11.45 %, 중식 : 0.88 %, 일식 : 0.72 %
대구 - 한식 : 13.23 %, 중식 : 1.21 %, 일식 : 0.84 %
대전 - 한식 : 13.12 %, 중식 : 1.11 %, 일식 : 0.89 %
부산 - 한식 : 13.77 %, 중식 : 1.32 %, 일식 : 1.02 %
서울 - 한식 : 9.66 %, 중식 : 1.09 %, 일식 : 1.26 %
세종 - 한식 : 13.82 %, 중식 : 1.45 %, 일식 : 0.98 %
울산 - 한식 : 15.91 %, 중식 : 1.25 %, 일식 : 0.77 %
인천 - 한식 : 13.12 %, 중식 : 1.37 %, 일식 : 0.87 %
전라 - 한식 : 16.07 %, 중식 : 1.13 %, 일식 : 0.45 %
전라 - 한식 : 13.76 %, 중식 : 1.29 %, 일식 : 0.63 %
제주 - 한식 : 14.78 %, 중식 : 0.97 %, 일식 : 0.79 %
충청 - 한식 : 16.08 %, 중식 : 1.45 %, 일식 : 0.59 %
충청 - 한식 : 16.42 %, 중식 : 1.47 %, 일식 : 0.65 %

# 한식 음식점들이 많이 사용하는 단어 찾아보기

* Text Mining Process
    corpus 정의 수집
    -> text cleaning(불용어 제거, 형태를 통일)
    -> tokenization(분석 단위 결정)
    -> modeling
    -> visualization

In [59]:
# corpus
corpus = df.loc[df['상권업종중분류명']=='한식']['상호명']
corpus

2            엔젤
10         태능갈비
12        박차닭갈비
14        남경막국수
27          먹자골
          ...
81700    다정정육식당
81710      충남순대
81711    장어92번지
81717      일등식당
81720      골목식당
Name: 상호명, Length: 322709, dtype: object

In [60]:
# text cleaning -> regex, regular expression

In [61]:
# tokenization -> 형태소 분석기(konlpy: Kkma, Hannanum, Mecab, Okt, Komoran)
# pecab : Mecab의 python version
from pecab import PeCab
pecab = PeCab()

In [62]:
pecab.morphs('아버지가방에들어가신다.') # 주어진 문장을 형태소 단위로 나눠줌

['아버지', '가', '방', '에', '들어가', '신다', '.']

In [63]:
pecab.nouns('아버지가방에들어가신다.') # 주어진 문장에서 명사만 추출함

['아버지', '방']

In [64]:
pecab.pos('아버지가방에들어가신다.') # POS(Part-Of-Speech) tagging(=품사 분석)

[('아버지', 'NNG'),
 ('가', 'JKS'),
 ('방', 'NNG'),
 ('에', 'JKB'),
 ('들어가', 'VV'),
 ('신다', 'EP+EF'),
 ('.', 'SF')]

In [65]:
tokenized_corpus = [pecab.nouns(doc) for doc in tqdm(corpus)]
tokenized_corpus

  0%|          | 0/322709 [00:00<?, ?it/s]

[['엔젤'],
 ['태', '능', '갈비'],
 ['박차', '닭갈비'],
 ['남경', '막국수'],
 ['먹', '자', '골'],
 ['아리랑', '산촌', '식당'],
 ['인구', '시장'],
 ['숨', '은', '밥집'],
 ['홍천', '해물', '찜'],
 ['원조', '남원주', '가', '든'],
 ['이모', '네', '한식'],
 ['영랑', '해변', '장어', '의', '꿈'],
 ['강남', '교자'],
 ['황토', '집'],
 ['돼지', '좋', '아'],
 ['어면', '먹', '자'],
 ['바다', '애'],
 ['화', '로', '상회'],
 ['양지', '막국수'],
 ['놀부', '부대찌개'],
 ['대', '게', '왕국', '민박'],
 ['푸른', '숲'],
 ['한', '우구', '이'],
 ['타코', '잉', '닭'],
 ['혼', '술', '다', '찌'],
 ['꼭지', '네', '식당'],
 ['돌집', '쌈밥'],
 ['바다', '소식'],
 ['꼬', '기', '만', '땅', '점보', '비빔밥', '강릉'],
 ['채대', '감', '족발'],
 ['퇴계', '닭갈비'],
 ['쿠프만', '1', '5', '3'],
 ['오월', '애', '만두전골'],
 ['세진', '한우', '실비'],
 ['화암', '동굴', '식당'],
 ['해바라기'],
 ['고향', '닭갈비'],
 ['정선', '애', '장어', '먹', '으러', '와요'],
 ['장작', '블루스'],
 ['넘버', '8', '5', '가든'],
 ['산골', '보리', '굴비'],
 ['함백산', '실비', '식당'],
 ['고', '식당'],
 ['강릉', '한', '우원'],
 ['아저씨', '네', '닭도리탕'],
 ['돈돈', '고'],
 ['야', '한식당'],
 ['진부', '영양', '마을'],
 ['연탄', '꾸이', '꾸이'],
 ['용', '우동'],
 ['어쩌다', '감자탕'],
 ['청년', '감자탕', '순', '대국'],
 ['다도', '해', '횟집'],
 ['장사항', '홍게', '사랑'],
 ['꼬꼬', '메이플', '가든'],
 ['속초', '가마솥', '대', '게'],
 ['돈', '보따리'],
 ['공가', '네', '감자', '옹심', '이'],
 ['곱', '떡', '치', '떡', '&', '찜', '꽁', '찜', '닭'],
 ['굴', '골', '황태', '식당'],
 ['나', '루'],
 ['원영희', '밥상'],
 ['신', '피디', '통', '큰', '생선', '구이'],
 ['산채', '이야기'],
 ['방가', '네', '화로구이'],
 ['소도둑'],
 ['십', '원', '집'],
 ['현', '일', '이', '네'],
 ['달콤', '한', '삼겹살'],
 ['홍천', '식당'],
 ['시골', '할머니', '추어탕'],
 ['우쿠', '야'],
 ['2', '4', '시', '전주', '명가', '콩나물국', '밥', '삼', '척', '점'],
 ['야식', '철가방'],
 ['봉평', '메밀', '족발'],
 ['원주', '옹심', '이', '메밀', '칼국수'],
 ['밀사', '랑', '칼국수'],
 ['궁전', '왕', '족발', '보쌈'],
 ['한', '우실', '비촌'],
 ['필라델피아', '화', '로', '숯불갈비'],
 ['오병', '이', '어', '식당'],
 ['센스', '꽃다발'],
 ['춘천', '스카이', '워크', '닭갈비', '막국수'],
 ['명', '륜', '진사', '갈비', '강원'],
 ['원주', '밥상'],
 ['원주', '함바'],
 ['우리', '동네', '국수집', '원주'],
 ['뉴스타', '식당'],
 ['소금강', '추어탕'],
 ['와', '우식', '당'],
 ['청와대', '초계', '국수'],
 ['한양'],
 ['아야', '진', '또', '올래'],
 ['러스틱', '컴포트'],
 ['열정', '국밥'],
 ['한', '식식', '당'],
 ['무', '코어', '구미'],
 ['한', '스키', '친'],
 ['대암', '감자탕'],
 ['백암', '송어'],
 ['족발', '야', '시장'],
 ['오색', '식당'],
 ['국민', '낙', '곱새', '강릉', '점'],
 ['아이', '갓', '에브리', '씽', '동강', '사진', '박물', '관점'],
 ['권', '할머니', '흑', '염소'],
 ['정원', '곱창', '집'],
 ['여주', '쌈밥'],
 ['동해', '안', '7', '번지'],
 ['한', '방전', '주', '콩나물국', '밥'],
 ['맛갈', '참죽'],
 ['놀부', '뚝배기'],
 ['싸움', '의', '고수', '춘천'],
 ['번개', '반점'],
 ['한', '마당'],
 ['북청', '전통', '아바', '이순대'],
 ['논가', '집', '옹심', '이'],
 ['성실', '메밀부침'],
 ['청주', '본가', '소문', '난왕', '갈비탕'],
 ['한식', '명가'],
 ['옛날', '옛집'],
 ['철원', '막국수'],
 ['충주', '횟집'],
 ['뚝배기', '보다', '장맛'],
 ['평창', '한', '우마', '을', '홍천', '대명', '식당'],
 ['춘자네', '숯불', '닭갈비'],
 ['동명항', '대', '게', '좋', '은', '날'],
 ['금성', '식당'],
 ['행복', '한', '밥집'],
 ['빤', '닝', '네', '두부', '랑', '매운탕'],
 ['한', '돈', '가'],
 ['싱싱', '수산', '횟집'],
 ['금', '매달', '족발', '보쌈'],
 ['배배', '샵'],
 ['혜정', '닭갈비'],
 ['어림', '지'],
 ['곽', '만근', '갈비탕'],
 ['대기리'],
 ['초당', '토박이', '할머니', '순두부'],
 ['이주환', '전통', '한우'],
 ['맛깔', '참죽', '&', '완도', '미역'],
 ['오두막집'],
 ['설악', '정원'],
 ['한림', '식당'],
 ['엄마', '네'],
 ['치악', '한우', '암소', '머리', '곰탕'],
 ['서민'],
 ['정직', '한', '족발'],
 ['월성', '식당'],
 ['솔', '게스트', '하우스', '나이트', '마켓'],
 ['바비', '요'],
 ['자연', '을', '담', '은', '두부'],
 ['밥도둑'],
 ['찬', '이', '네', '감자탕'],
 ['미소', '푸드'],
 ['강마', '을', '추억'],
 ['최선', '숙부', '동산', '임대'],
 ['정가', '네'],
 ['왕십리', '곱창', '구이'],
 ['막골', '막국수'],
 ['유남', '원조', '한방', '감자탕'],
 ['행복', '식당'],
 ['꽃게', '들', '의', '전쟁'],
 ['강남', '숯불', '구이'],
 ['안골', '설렁탕'],
 ['파파', '돈', '스', '두', '번', '째', '이야기'],
 ['명', '륜', '진사', '갈비'],
 ['참숯', '불장', '어마', '을'],
 ['신대왕', '족발', '보쌈'],
 ['명', '륜', '진사', '갈비', '동해', '평릉', '점'],
 ['춘천', '후레쉬', '닭갈비'],
 ['이공'],
 ['산촌', '보리밥'],
 ['풍년', '고을'],
 ['신의주', '찹쌀', '순대'],
 ['금화'],
 ['바다', '정육', '식당'],
 ['풍년', '식당'],
 ['종로', '3', '가'],
 ['고기', '혁명'],
 ['삼', '척', '맛집'],
 ['아리', '네'],
 ['맹꽁이', '네'],
 ['삼봉', '쉼터'],
 ['닥', '엔', '돈', '스강', '릉'],
 ['병', '천복', '순대', '·', '감자탕'],
 ['항', '구회', '타운', ',', '항구', '가', '누리', '펜션'],
 ['춘하추동'],
 ['송원', '식당'],
 ['용석', '식당'],
 ['서울', '가든'],
 ['고향', '순', '대국'],
 ['설원', '칡', '냉면', '단관', '점'],
 ['땡초', '닭발'],
 ['사북', '황기', '소곱', '창'],
 ['솔잎', '가', '든'],
 ['육', '회집'],
 ['명화', '통나무집'],
 ['팔', '도', '식당'],
 ['장뇌', '삼', '삼', '계탕'],
 ['구', '이', '구이', '생', '삼', '겹', '촌'],
 ['청춘', '보리밥', '봉', '평점'],
 ['학', '고을'],
 ['땅', '스', '부대찌개', '태백', '점'],
 ['태산', '갈비'],
 ['족발', '야', '시장', '원주', '단계', '점'],
 ['바랑', '골'],
 ['명윤', '설렁탕'],
 ['금갑', '한우'],
 ['소주', '신랑', '보쌈', '부인'],
 ['밥도둑'],
 ['도촌', '삼계탕'],
 ['늘', '만나', '식당'],
 ['일', '호', '감자탕', '단계', '점'],
 ['만양', '맛', '값', '내곡', '점'],
 ['솔', '향', '자연', '밥상'],
 ['나', '능이버섯', '백숙'],
 ['함지박'],
 ['진선미', '생', '삼겹살'],
 ['스토리', '회'],
 ['덕', '다리', '항아리', '감자탕'],
 ['유명', '식당'],
 ['강릉', '한', '우축', '제'],
 ['성원', '컴퍼니'],
 ['그리운', '바다', '성', '산포'],
 ['가장', '맛있', '는', '족발', '원주'],
 ['해담'],
 ['바우', '네', '나주', '곰탕', '기업', '도', '시점'],
 ['맛'],
 ['원두막', '식당'],
 ['모자', '식당'],
 ['남', '설', '악식', '당'],
 ['누나', '네', '부대찌개'],
 ['원주', '온달', '족발'],
 ['장', '대박'],
 ['봉', '의', '산막', '국수'],
 ['영월', '장어', '마을'],
 ['화', '로', '상회'],
 ['어민', '후계자', '회집'],
 ['북원', '식당'],
 ['참한', '식당'],
 ['부대찌개', '집'],
 ['명', '가진', '족발'],
 ['막창', 'O', 'K', '!'],
 ['정무', '네', '두부'],
 ['선진', '삼겹살'],
 ['점봉산', '산채'],
 ['길목', '풍천', '장어'],
 ['장충', '왕', '족발'],
 ['주문', '진대박', '식당'],
 ['유민', '이', '네', '부대찌개', '육개장'],
 ['새벽'],
 ['청정', '골'],
 ['맛집', '장금', '이', '네'],
 ['양돈', '조합', '한우', '타운', '식당'],
 ['송', '여사', '숯불', '왕', '꼼', '장', '어'],
 ['뚜레'],
 ['해', '광호', '횟집'],
 ['설악', '가든', '리조', '텔', '식당'],
 ['정군', '닭발'],
 ['호원', '식당'],
 ['살찐', '암소'],
 ['양지', '가마솥', '국밥'],
 ['장호', '더', '그릴'],
 ['가마솥', '추어탕'],
 ['돈', '마을'],
 ['미연', '이', '네', '손칼국수'],
 ['두레'],
 ['맛있', '는', '세상'],
 ['투가리', '감자탕'],
 ['토종', '순', '대국'],
 ['제주', '일품', '순두부'],
 ['마시', '따니'],
 ['그', '집', '가', '자'],
 ['해마루'],
 ['돼', '갈'],
 ['거성', '식당'],
 ['동방', '가', '든'],
 ['만족'],
 ['미쓰', '돼지'],
 ['감성', '삼', '겹'],
 ['양양', '째', '복'],
 ['명품', '시래기', '뼈다귀', '탕'],
 ['광순', '네'],
 ['소금강', '맛집'],
 ['현대', '뚝배기'],
 ['바다', '횟집'],
 ['두부', '랑', '동태', '랑'],
 ['생', '생식', '당'],
 ['오', '복장', '칼국수'],
 ['토담'],
 ['송지호', '횟집'],
 ['국수나무', '사창리', '점'],
 ['삼', '남매', '한식당'],
 ['산골', '농원'],
 ['마차', '재', '휴게소'],
 ['유일', '유통'],
 ['돼지', '부대'],
 ['또', '또', '삼겹살'],
 ['풍경'],
 ['채선', '당', '자연', '한가득'],
 ['중앙', '영남', '횟집'],
 ['용추', '골', '미궁', '순대', '진부', '지점'],
 ['가', '나', '식당'],
 ['돈', '비촌'],
 ['디딤돌'],
 ['앞바다'],
 ['사', '천', '샘골', '식당'],
 ['칠', '삼', '삼'],
 ['해원', '야식'],
 ['반곡역', '한우', '원주', '반곡'],
 ['별미', '촌'],
 ['대박', '막창', '&', '삼', '겹'],
 ['땅', '스', '부대찌개'],
 ['영랑', '골'],
 ['강촌', '만남', '의', '광장'],
 ['실비', '식당'],
 ['장평', '칼국수'],
 ['한', '솥', '도시락', '명륜', '남부', '점'],
 ['메밀', '능이', '촌'],
 ['용추', '골', '미궁', '순대', '속', '초조', '양점'],
 ['최가네', '감자탕'],
 ['천하', '풍천', '민물', '장어'],
 ['군', '삼', '농장', '한우'],
 ['들', '락', '가', '든'],
 ['도야', '족발', '남춘천', '역점'],
 ['배달', '삼', '겹', '직', '구', '삼'],
 ['대', '게', '좋', '아', '홍게'],
 ['도담', '찜', '닭', '인', '제원', '통점'],
 ['담', '골'],
 ['생', '삼', '겹', '구루'],
 ['임진강', '장어'],
 ['대장', '푸드'],
 ['설', '악골', '식당'],
 ['충남', '실비'],
 ['한', '지촌'],
 ['인생', '건어물'],
 ['백만', '석'],
 ['포대', '인', '대구', '막창'],
 ['갑', '순', '이', '네'],
 ['제주', '참돈'],
 ['이인영', '선산', '곱창'],
 ['개미', '들', '의', '백', '년', '쭈', '구', '미'],
 ['재', '대루'],
 ['본', '도시락', '강릉'],
 ['조선', '돼지갈비', '단구', '선아'],
 ['농가', '쉼터'],
 ['대', '게', '왕국'],
 ['홍천', '민물', '장어'],
 ['떠들석', '갈비'],
 ['들꽃', '가', '든'],
 ['은행나무'],
 ['솔', '모루', '식당'],
 ['들꽃', '향기', '효소', '사랑'],
 ['청정', '1', '5', '3', '송어'],
 ['낭', '만', '전'],
 ['소양강', '갈매기'],
 ['난장'],
 ['수협', '대', '게'],
 ['임원', '일미', '식당'],
 ['영산포', '홍어', '보쌈'],
 ['마포', '돼지갈비'],
 ['희망', '정육', '식당'],
 ['옛날', '원대', '막국수'],
 ['진동리', '나무', '꾼', '과', '선녀'],
 ['시골집'],
 ['태성', '한우', '숯불'],
 ['육식'],
 ['삼정', '한', '우실', '비식', '당'],
 ['해물', '섬'],
 ['춘천', '1', '번지', '닭갈비'],
 ['두', '찜', '강릉'],
 ['만나', '옹심', '이', '손칼국수'],
 ['양지', '목장', '한', '우구', '이'],
 ['가장', '맛있', '는', '족발'],
 ['1', '2', '호한', '흥호'],
 ['정지'],
 ['이미자', '강릉', '초', '당', '콩', '감자탕'],
 ['강릉', '뒷', '고기'],
 ['설악', '봉화산', '설렁탕'],
 ['우가', '닭', '닭목', '살', '닭갈비', '동생', '점'],
 ['육', '당', '생', '갈비', '상회'],
 ['김숙영', '의', '한식', '곳간'],
 ['한', '정애', '한', '정식'],
 ['넉', '살', '집'],
 ['우', '나라'],
 ['원조', '흑', '염소', '탕', '집'],
 ['하동', '갈비'],
 ['길', '성', '이', '백숙'],
 ['국시', '방'],
 ['별미', '순', '대국'],
 ['강동호', '식당'],
 ['곤지', '암', '할', '매소', '머리', '국밥'],
 ['김', '가네', '시골', '밥상'],
 ['진리', '국밥', '천곡', '점'],
 ['봉', '평궁'],
 ['토우', '빈대떡'],
 ['2', '0', '2', '식당'],
 ['강릉', '한우', '육개장'],
 ['길손', '식당'],
 ['약', '이', '되', '는', '밥상'],
 ['오봉', '막국수'],
 ['회', '솜씨'],
 ['아트', '빌', '식당'],
 ['우판', '집'],
 ['한', '성호'],
 ['명', '륜', '진사', '갈비', '원주', '단관', '점'],
 ['홍천', '명태조림'],
 ['금봉', '횟집'],
 ['솔향기'],
 ['아리아', '리'],
 ['책방', '마실'],
 ['최가네', '밥집'],
 ['해피', '푸드'],
 ['공룡', '갈비'],
 ['학교', '종이', '땡땡', '잔치국수'],
 ['평창', '한', '우마', '을', '봉화산', '식당'],
 ['다', '온스', '빌'],
 ['장터', '국밥'],
 ['털보', '네', '설렁탕'],
 ['영월', '애', '숯불', '닭갈비'],
 ['맛깔', '손'],
 ['가마솥', '한우', '국밥'],
 ['성진', '활어'],
 ['우천', '해장국'],
 ['남원주', '정가', '네'],
 ['민석', '이', '네', '염소', '탕'],
 ['수가', '성', '순두부', '에', '이', '케이'],
 ['싱싱', '하', '게'],
 ['홍천', '화로구이'],
 ['꼬', '들', '구', '이'],
 ['산해', '횟집'],
 ['속초', '우미', '닭갈비'],
 ['갑진', '식당'],
 ['일품', '양평', '해장국', '한', '탄강', '점'],
 ['다원', '숯불', '구이'],
 ['돈', '비촌'],
 ['고려', '산장'],
 ['서울', '해장국'],
 ['속초', '식당'],
 ['샤', '방', '샤', '방'],
 ['일', '차', '돌'],
 ['친구', '여'],
 ['김일병', '숯불', '등', '갈비'],
 ['우리', '푸드'],
 ['풍만', '식당'],
 ['봉화산', '삼계탕'],
 ['올레', '막국수'],
 ['북청', '전통', '아바', '이순대', '2', '대'],
 ['일미', '곱창'],
 ['동희', '네'],
 ['돈돈', '고태', '장점'],
 ['모든', '이', '식당'],
 ['놀러와'],
 ['춘', '천왕', '족발'],
 ['그때', '그때'],
 ['갈비', '속', '으로'],
 ['뜰', '안', '에', '.', '.', '.', '한정식'],
 ['횡', '성', '호수', '길', '한우'],
 ['왈', '앤', '왈', '즈'],
 ['개미', '식당'],
 ['도영', '삼겹살'],
 ['촌닭', '두', '마리'],
 ['원주', '뼈', '집'],
 ['삼', '호', '곱창'],
 ['국수나무'],
 ['청호', '식당'],
 ['육', '대장'],
 ['명주동', '이', '맛', '에', '온다'],
 ['연탄불', '구이'],
 ['광덕', '식당', '중앙'],
 ['솔잎', '가', '든'],
 ['봉창', '이', '해물', '칼국수'],
 ['통', '큰', '갈비', '식당'],
 ['이수', '스토어'],
 ['동박', '골', '식당'],
 ['메밀', '가'],
 ['용', '우동', '강릉', '역점'],
 ['은주', '네', '활화산', '활어'],
 ['새', '마을', '국밥'],
 ['봉평', '메밀', '막국수'],
 ['미', '가', '식당'],
 ['치악', '기사', '식당'],
 ['강나루', '황토', '집'],
 ['아', '!', '맛있', '데', '지'],
 ['원주', '양평', '해장국'],
 ['미정', '이', '네'],
 ['별천지', '갈비탕'],
 ['갤러리', '쿡'],
 ['대왕', '족발', '보쌈'],
 ['달리', '는', '려', '석', '들'],
 ['사계절', '건강', '식당'],
 ['육', '장원'],
 ['오늘', '도', '회', '는', '뜬다'],
 ['혜', '경이', '네', '밥집'],
 ['맛있', '는', '바', '다'],
 ['종점', '해장국'],
 ['거두', '칠전', '부대찌개'],
 ['엄마', '식당'],
 ['수', '갈비'],
 ['맛', '다', '모아'],
 ['모두', '랑', '식당'],
 ['낭만', '대패', '삼겹살'],
 ['돼지', '야생', '갈비'],
 ['박', '가네', '식당'],
 ['아빠', '손', '족발'],
 ['부흥', '식당'],
 ['단관', '민물', '장어'],
 ['감'],
 ['영철', '네', '생선', '구이', '맛집'],
 ['다족'],
 ['시골집'],
 ['사랑', '채'],
 ['옥봉', '뚝배기'],
 ['통방아'],
 ['북천리', '곱창'],
 ['군산', '식당'],
 ['돌', '삼', '길'],
 ['봉평', '나', '들', '이', '부침'],
 ['모구', '모구'],
 ['고', '반식', '당춘', '천', '거두', '점'],
 ['산모롱이'],
 ['출렁다리', '식당'],
 ['태백', '부흥', '한우'],
 ['용천', '순대', '염소', '탕'],
 ['오직', '한우'],
 ['호호', '식당'],
 ['메밀', '향기'],
 ['명', '진왕', '갈비탕'],
 ['은영', '네', '구이'],
 ['맛깔', '참죽'],
 ['착한', '낙지'],
 ['아이', '아이'],
 ['이', '가', '네', '곰탕'],
 ['한', '뚝배기', '돼지국밥'],
 ['육회', '왕자', '연어', '공주', '춘천'],
 ['원조', '춘천', '우미', '닭갈비'],
 ['다정다감'],
 ['돈', '꿔', '줄까'],
 ['밥', '한술'],
 ['홍천강', '매운탕'],
 ['큰손', '감자탕'],
 ['고기', '인', '스타'],
 ['찜', '꽁', '찜', '닭', '&', '곱', '떡', '치', '떡'],
 ['춘천', '옹심', '이', '메밀', '칼국수'],
 ['화덕', '식당'],
 ['딱', '조아', '9', '2', '막창'],
 ['더', '3', '0'],
 ['계방산', '숯불갈비'],
 ['꼬치', '의', '품격', '춘천'],
 ['임계', '식당'],
 ['장호', '막국수', '.', '닭갈비'],
 ['섬마을', '생선', '구이', '전문'],
 ['최가네', '순', '대국'],
 ['문어', '산촌'],
 ['야', '붕', '이', '덮밥'],
 ['윤가', '식당'],
 ['아우', '내', '병', '천', '순대'],
 ['낭만', '호랑이'],
 ['맛있', '는', '집미', '가'],
 ['홍천', '한우', '풀', '먹', '은', '소'],
 ['청기', '와'],
 ['뜰', '안', '채'],
 ['대박', '푸줏간'],
 ['맛집'],
 ['착한', '소'],
 ['통나무집', '숯불', '닭갈비'],
 ['대진', '식당'],
 ['평', '창고', '메', '한우'],
 ['자갈', '치산', '꼼', '장', '어'],
 ['단오', '억수', '맛집'],
 ['피크닉'],
 ['이승', '에프', '엔디'],
 ['산천', '식당'],
 ['산', '채', '로'],
 ['생면', '가난', '다', '수육'],
 ['이', '대감', '쭈', '꾸', '미', '와', '철', '판', '닭', '갈', '비'],
 ['무', '봉리', '순', '대국', '삼', '척', '점'],
 ['해뜨', '는', '식당'],
 ['해성'],
 ['전', '주한', '방', '콩나물', '해장국'],
 ['고향', '먹거리'],
 ['동해', '바다'],
 ['주문', '진세', '꼬', '시막', '회', '곰치'],
 ['정선', '송어', '횟집'],
 ['대감', '족발', '꼬꼬', '닭발'],
 ['정환', '이', '네', '구', '이태', '장점'],
 ['국수', '사랑'],
 ['미담', '한', '정식'],
 ['주안상'],
 ['안목', '바다', '식당'],
 ['종갓집'],
 ['밥', '공장'],
 ['함흥냉면', '옥'],
 ['어부', '명가'],
 ['아방궁'],
 ['더블유', '.', '제트', '푸드'],
 ['숯불', '구', '이', '육', '본'],
 ['물소리', '바람', '소리'],
 ['강릉', '찜', '집'],
 ['모', '가'],
 ['우리', '집', '순', '대국'],
 ['바다', '양푼', '이', '동태', '탕'],
 ['인제', '재래식', '손두부'],
 ['자성화', '맛집', '코다리', '네'],
 ['토정', '소머리', '국밥'],
 ['쉼터', '식당'],
 ['왕산', '권', '역'],
 ['부뚜막'],
 ['참죽'],
 ['국수', '장이'],
 ['토닥토닥'],
 ['동해', '1', '번', '고깃집'],
 ['향미', '네'],
 ['장', '수촌'],
 ['동', '막골', '국수'],
 ['춘경'],
 ['어', '가'],
 ['타임'],
 ['해물', '섬'],
 ['산', '들림'],
 ['평창', '메밀', '부치', '기'],
 ['좋', '은', '날', '만'],
 ['화암', '파크', '식당'],
 ['솔', '의', '향'],
 ['콩새', '야'],
 ['바다', '회마', '을'],
 ['봉화산', '설렁탕'],
 ['평창', '한우', '곰탕'],
 ['본가'],
 ['아름', '삼겹살'],
 ['송탄', '부대찌개'],
 ['섬진강', '추어탕', '전문'],
 ['석사', '순', '대국'],
 ['동해', '관'],
 ['비석거리', '추어탕'],
 ['일', '점사'],
 ['길목', '생', '삼', '겹'],
 ['전', '주식', '당'],
 ['온', '더', '가', '든'],
 ['산마', '을'],
 ['초설'],
 ['별미', '순대', '국밥'],
 ['금자', '활어'],
 ['나예', '족'],
 ['회장'],
 ['자연', '감자탕', '앤', '부대찌개'],
 ['높', '은', '터', '자연', '뜰'],
 ['갈산'],
 ['신서방', '부대찌개'],
 ['청담', '생', '고기'],
 ['터닝', '포인트'],
 ['단골집'],
 ['사계절', '밥집'],
 ['주문', '진왕', '해물', '찜'],
 ['원주', '족발', '맛집'],
 ['명승', '집'],
 ['신가', '네'],
 ['육', '공판'],
 ['옛날', '공', '이', '메밀국수'],
 ['봉화산', '정육', '식당'],
 ['동래', '수산'],
 ['돈', '먹', '꼬', '돈', '내', '고'],
 ['동해', '막국수'],
 ['옛', '우리', '식당'],
 ['금', '두꺼비', '식당'],
 ['한잔', '어때'],
 ['화목', '오향', '족발'],
 ['뚝배기', '해장국'],
 ['뽕잎', '사랑', '원주'],
 ['숲', '속', '의', '쉼터'],
 ['신촌', '식당'],
 ['좋', '은', '느낌'],
 ['정점'],
 ['충', '무복', '집'],
 ['꽃', '이', '다'],
 ['9', '9', '0', '0', '닭갈비'],
 ['진국', '추어탕'],
 ['죽', '이야기', '고', '성간', '성점'],
 ['충남', '식당'],
 ['팔', '도', '조개', '구이', '.', '대', '게', '타운'],
 ['대포', '크랩'],
 ['대룡산', '약초', '백숙'],
 ['석', '이', '푸드'],
 ['장터', '순', '대국'],
 ['시', '고', '을', '국밥'],
 ['토정', '삼계탕'],
 ['본죽'],
 ['홍', '골', '솔', '밭집'],
 ['가리왕산', '약초', '백숙'],
 ['포세이돈'],
 ['센', '꼬치'],
 ['진미', '식당'],
 ['대운', '정'],
 ['우미', '밥상'],
 ['고기', '냉면', '화', '로', '숯불', '구이'],
 ['시골', '식', '백반'],
 ['홍가', '네', '닭', '칼국수'],
 ['구', ')', '복성', '식', '당구'],
 ['묵호', '식당'],
 ['대장'],
 ['청초', '호정', '육', '식당'],
 ['본죽'],
 ['용평', '9', '홀', '퍼블릭', '그늘집'],
 ['혁신', '수산'],
 ['동해', '수라상'],
 ['청와대', '초계', '국수', '직영'],
 ['꿀돼지'],
 ['여랑', '별', '채'],
 ['하늘', '아래', '첫', '집'],
 ['수정', '족발'],
 ['쓰리', '에프'],
 ['사조', '소문', '난식', '당'],
 ['바코드', '디브이'],
 ['옛집', '두', '부촌'],
 ['통소', '덮밥'],
 ['기양', '한우', '곱창'],
 ['에', '나', '의', '키친'],
 ['후동리', '닭갈비'],
 ['동천', '호식', '당'],
 ['가마솥', '강릉', '설렁탕'],
 ['예손'],
 ['오미리', '식당'],
 ['안반', '국수'],
 ['한미'],
 ['미스터', '쭈', '삼'],
 ['시골', '보리밥'],
 ['바우', '네', '나주', '곰탕'],
 ['보매', '기해', '물', '칼국수'],
 ['예성', '생고기'],
 ['청마', '루'],
 ['툇', '골', '느', '티', '나', '무', '집'],
 ['풍물', '보리밥'],
 ['화원', '산업', '강릉', '2', '지점'],
 ['이례', '통통배', '매운탕'],
 ['해온', '닭갈비'],
 ['식', '껍', '태', '백', '점'],
 ['춘천', '가마솥', '양지', '설렁탕'],
 ['정수식', '당'],
 ['이모', '네', '식당'],
 ['장군', '돼지', '부속'],
 ['태백', '회수', '산'],
 ['킹콩', '부대찌개', '강원'],
 ['8', '0', '8', '3', '골목', '식당', '정육점'],
 ['고깃집'],
 ['엽', '이', '네', '푸드'],
 ['화산', '해물', '찜'],
 ['연남', '물', '갈비'],
 ['조선옥', '실비', '식당'],
 ['신', '쭈', '꾸', '미'],
 ['통일', '가든'],
 ['더', '육향'],
 ['밀밭', '집'],
 ['불굴', '의', '차', '여사', '감자', '탕장', '학점'],
 ['수제', '순대', '권', '순대'],
 ['나', '루', '키친'],
 ['한남', '야식'],
 ['거진', '해녀', '횟집'],
 ['남산', '로', '2', '2', '2', '족발'],
 ['남매', '네', '닭곰탕'],
 ['두', '마리', '찜', '닭', '두', '찜', '원주'],
 ['마왕', '족발', '강원'],
 ['부산갈매기'],
 ['바다', '굴', '모듬', '찜'],
 ['직', '화', '삼', '겹', '직', '구', '삼', '춘천'],
 ['청주', '본', '가왕', '갈비탕'],
 ['탑', '골', '가', '든'],
 ['언', '더더', '씨'],
 ['원창', '개울가', '집'],
 ['대판'],
 ['강화', '도', '횟집'],
 ['인사동', '먹거리'],
 ['태원', '가든'],
 ['강촌', '스카이'],
 ['동부', '기사', '식당'],
 ['산초'],
 ['성진', '추어탕'],
 ['송도', '불향', '쭈', '꾸', '미'],
 ['제', '천황', '기명', '태영', '월점'],
 ['대성', '낙지'],
 ['동남', '식당'],
 ['낭만', '집'],
 ['덕', '고개'],
 ['황소', '실비'],
 ['금송', '원조', '닭갈비'],
 ['신림', '느티나무'],
 ['경기', '이', '천', '횟집'],
 ['충북', '식당'],
 ['창', '바위', '맛집'],
 ['강릉', '본가', '족발'],
 ['강릉', '불고', '기초', '당점'],
 ['원통', '야식'],
 ['두', '찜', '춘천'],
 ['국밥', '생각'],
 ['만나', '칼국수'],
 ['짱', '아찌', '삼겹살'],
 ['소담', '정'],
 ['구미정'],
 ['피', '키'],
 ['사공'],
 ['순', '면옥'],
 ['미가', '일'],
 ['미우', '돈', '가'],
 ['원', '할머니', '보쌈', '족발', '강원'],
 ['반달곰', '카페'],
 ['맛있', '으면', '돼지'],
 ['황둔', '행복', '한', '식당'],
 ['대', '게', '바다'],
 ['명산', '집'],
 ['쌍둥이', '네'],
 ['양구', '막국수'],
 ['속초', '대', '게', '나라', '홍게', '마을'],
 ['팔', '팔', '왕', '감자탕'],
 ['삼미', '식당'],
 ['그린', '회관', '게', '조림'],
 ['히', '코코'],
 ['미소', '곱창', '막창', '구이'],
 ['허가', '네', '돼지', '국밥'],
 ['오동나무', '집'],
 ['정통', '식당'],
 ['연희', '숯불갈비'],
 ['낙천', '회관'],
 ['꼬꼬댁', '닭갈비'],
 ['큰', '맘', '할매', '순', '대국', '망상', '점'],
 ['킹콩', '식당'],
 ['둘레길', '송어', '회집'],
 ['연안', '식당'],
 ['밤', '골', '쉼터'],
 ['삼', '시', '세끼'],
 ['강', '강'],
 ['옥계', '횟집'],
 ['유명', '한', '고깃집'],
 ['원주', '진장', '어'],
 ['복', '순', '이', '아구찜'],
 ['꽃', '돼지', '생구', '이'],
 ['청자', '골'],
 ['오필승', '닭', '발주', '공점'],
 ['원주', '한우', '곱창', '소곱'],
 ['육감'],
 ['홍초', '불닭'],
 ['어', '사랑'],
 ['바베큐', 'O', 'P', 'E', 'R', 'A', 'G', 'A', 'R', 'D', 'E', 'N'],
 ['소란'],
 ['대구', '막창', '구', '이', '원', '통점'],
 ['메밀', '가', '메밀', '家'],
 ['제주', '삼다', '돈'],
 ['명란', '소녀'],
 ['저녁', '횟집'],
 ['해송', '식당'],
 ['영희', '네', '백', '반집'],
 ['순두부', '짬뽕', '초', '당', '애'],
 ['강', '언덕', '숲', '속', '이야기'],
 ['본', '가돈', '삼겹살'],
 ['시골', '맛집'],
 ['거진', '명품', '코다리', '네'],
 ['백담', '폭포', '송어', '회'],
 ['길', '아성', '의', '바다', '목장'],
 ['미수라', '도시락'],
 ['신도림', '국수', '회관'],
 ['부엉이', '도시락'],
 ['양양', '토종', '순대'],
 ['장수', '갈비', '집'],
 ['대흥', '소머리', '곰탕'],
 ['남춘천', '시골', '청국장'],
 ['철원', '능이', '백숙'],
 ['호동', '숯불갈비'],
 ['효', '춘천', '닭갈비', '태장', '점'],
 ['장호', '감자탕'],
 ['초원', '밥상'],
 ['2', '4', '시', '해', '정옥', '국밥'],
 ['퇴', '골', '오리정', '육', '식당'],
 ['친구', '친구'],
 ['오', '서방', '숯불갈비'],
 ['칠', '백'],
 ['장가', '네', '뼈', '해장국'],
 ['어촌', '마을', '물회', '섭', '국'],
 ['디', '에스', '푸드'],
 ['감돈'],
 ['영금', '정활', '어회', '센터'],
 ['산책'],
 ['충청도', '신토불이'],
 ['동영', '이', '네'],
 ['고기', '랑', '조개', '랑', '2'],
 ['신', '마포', '갈매기', 'Ⅱ'],
 ['가마솥', '별', '미식', '당'],
 ['평창', '무지개송어'],
 ['교암', '소머리', '국밥'],
 ['퓨전', '안동', '찜', '닭'],
 ['칼국', "'", 'S'],
 ['땅', '스', '부대찌개'],
 ['먹골', '촌'],
 ['삼순', '이', '네', '보리밥'],
 ['농가', '맛집', '채림', '의', '정원'],
 ['덕', '우산', '맛집'],
 ['복', '꺼', '비', '양푼', '이', '동태', '탕'],
 ['천사', '곱창'],
 ['두', '부대', '가'],
 ['한우', '사랑'],
 ['농가'],
 ['에스', '씨', '푸드'],
 ['홍', '여사'],
 ['오향', '족발'],
 ['돈', '몽'],
 ['행운', '낚시터', '가', '든'],
 ['만조'],
 ['장호', '용화', '관광', '랜드', '식당'],
 ['산야초'],
 ['미경', '이', '네', '횟집'],
 ['낭만', '고기'],
 ['고', '기마', '루'],
 ['능이', '랑송', '이랑', '한방', '백숙'],
 ['금강산', '숯불', '구이'],
 ['영월', '메밀전', '병'],
 ['주먹', '생고기'],
 ['뚝배기', '양평', '해장국'],
 ['원영', '생선', '구이'],
 ['서로', '숯불', '구이'],
 ['홍제동', '언덕길', '그', '집'],
 ['황고', '을'],
 ['비츠', '스튜', '디어'],
 ['놀부', '삼겹살'],
 ['맛사', '랑', '채', '사람', '들', '대관령', '산채', '백반', '지점'],
 ['대왕', '한우', '숯불', '구이'],
 ['말복', '이', '네', '가', '보', '자', '토종', '순', '대국'],
 ['칠', '전순', '대국'],
 ['러쉬'],
 ['강동', '식당'],
 ['태승', '푸드', '흥업', '점'],
 ['수', '유리혼', '밥', '왕', '&', '혼', '술', '몽', '강원'],
 ['미친', '닭갈비'],
 ['꽐', '라', '꽐', '라'],
 ['봄내', '찬'],
 ['철원', '와', '수리', '양평', '해장국'],
 ['시루봉', '토종닭'],
 ['아지트'],
 ['오수', '물', '막국수'],
 ['정', '선골', '송어'],
 ['견우', '네'],
 ['식사', '시간'],
 ['동해', '닭갈비', '천곡', '점'],
 ['어촌', '횟집'],
 ['봉포', '머구리', '집'],
 ['화초장', '식당'],
 ['큰', '집', '밥상'],
 ['배달', '회집'],
 ['부림', '해장국'],
 ['기대', '만족'],
 ['황부', '자', '협동조합'],
 ['서부', '맛집', '능이', '해', '천', '탕'],
 ['치악산', '포크', '한우'],
 ['속초', '야'],
 ['시골', '마당'],
 ['기', '와', '물결'],
 ['신', '여사', '돌판', '구이'],
 ['샤', '브', '마', '니아'],
 ['고기', '의', '꿈'],
 ['곱', '깨', '비', '곱창', '.', '닭발', '둔', '내점'],
 ['용궁', '돼지갈비'],
 ['남문'],
 ['착한', '식당'],
 ['갯마을', '바지락', '칼국수'],
 ['박대', '감', '화로구이', '문막', '점'],
 ['먹', '자', '푸드'],
 ['소담', '정식'],
 ['속초', '막창'],
 ['옛날', '장터', '국밥'],
 ['산촌', '생', '등심'],
 ['곰', '의', '집'],
 ['향원', '지짐', '이'],
 ['참숯불', '돈', '가', '네'],
 ['한국인', '의', '밥상', '잣나무', '골'],
 ['자갈치', '브라더스', '춘천', '우두', '점'],
 ['맛있', '는', '엄마', '밥상'],

In [68]:
# modeling
from collections import Counter
total_tokens = []
for tokens in tqdm(tokenized_corpus):
    total_tokens = total_tokens + tokens

counter = Counter(total_tokens)
counter.most_common(30) # 빈도가 높은 30개를 출력

  0%|          | 0/322709 [00:00<?, ?it/s]

[('식당', 32712),
 ('네', 14171),
 ('이', 12901),
 ('집', 12727),
 ('가', 9457),
 ('한', 8696),
 ('점', 7228),
 ('족발', 7024),
 ('당', 6404),
 ('칼국수', 6333),
 ('갈비', 5983),
 ('찜', 5969),
 ('횟집', 5370),
 ('푸드', 5214),
 ('삼', 4952),
 ('곱창', 4833),
 ('국밥', 4758),
 ('돈', 4289),
 ('밥', 4200),
 ('고기', 4148),
 ('돼지', 3898),
 ('는', 3807),
 ('닭', 3792),
 ('의', 3629),
 ('국수', 3608),
 ('감자탕', 3501),
 ('밥상', 3497),
 ('&', 3481),
 ('구이', 3435),
 ('해장국', 3435)]

In [66]:
# 폰트 설정 방법 2
import matplotlib
import matplotlib.font_manager as fm

#plt.rc('font',family='AppleGothic')
# font_location = '/System/Library/Fonts/AppleSDGothicNeo.ttc'
font_location = 'C:/Windows/Fonts/Malgun.ttf' # For Windows
font_name = fm.FontProperties(fname=font_location).get_name()
print(font_name)
matplotlib.rc('font', family=font_name)

Malgun Gothic

In [ ]:
from wordcloud import WordCloud

wc = WordCloud(
    font_path=font_location, # 사용하는 글꼴 경로
    max_words=100,# 최대 몇개의 단어를 사용할지(빈도순)
    width=1920,
    height=1080,
    random_state=42,
    background_color='white',
    colormap='viridis'
).generate_from_frequencies(counter)
plt.axis('off')
plt.savefig('./wordcloud.png')
plt.imshow(wc)