In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
list1 = ['mom', 'get', 'pandas', 'level']
s1 = pd.Series(list1)
s2 = pd.Series(['1', '2', '3'])
s1

0       mom
1       get
2    pandas
3     level
dtype: object

In [11]:
s1.apply(len)

0    3
1    3
2    6
3    5
dtype: int64

In [12]:
s2

0    1
1    2
2    3
dtype: object

In [13]:
s2.astype('int')

0    1
1    2
2    3
dtype: int32

In [14]:
s2.apply(int)

0    1
1    2
2    3
dtype: int64

In [16]:
data = [['강승주', 'mom'], ['송중기', 'get'], ['권보아', 'pandas'], ['김판다', 'level']]
df = pd.DataFrame(data, columns=['이름', '답안'])
df

    이름      답안
0  강승주     mom
1  송중기     get
2  권보아  pandas
3  김판다   level

In [19]:
df['답안'].apply(lambda a: len(a)>=5)

0    False
1    False
2     True
3     True
Name: 답안, dtype: bool

In [20]:
df[df['답안'].apply(lambda a: len(a)>=5)]

    이름      답안
2  권보아  pandas
3  김판다   level

In [21]:
url = 'https://raw.githubusercontent.com/panda-kim/csv_files/main/palindrome.csv'
df = pd.read_csv(url)
df

      이름                   주소    답안
0    류동영        경상북도 청도군 뒷마2길    메뉴
1    유지수        경상북도 문경시 청암3길   목욕탕
2    권민식  경기도 안양시 동안구 동편로49번길    야채
3    차동혁        전라북도 정읍시 순촌1길    학교
4    주남현     서울특별시 은평구 갈현로23길   초보자
..   ...                  ...   ...
995  허철현       충청남도 태안군 정주내4길   영향력
996  성병선     경기도 광주시 도지울길13번길    흉내
997  한성균       부산광역시 영도구 청학북로   스웨터
998  양대환         강원도 춘천시 하중도길    남북
999  이종봉       충청북도 단양군 여울목2길  해외여행

[1000 rows x 3 columns]

In [22]:
df['광역단체'] = df.주소.apply(lambda addr: addr.split(' ')[0])
df

      이름                   주소    답안   광역단체
0    류동영        경상북도 청도군 뒷마2길    메뉴   경상북도
1    유지수        경상북도 문경시 청암3길   목욕탕   경상북도
2    권민식  경기도 안양시 동안구 동편로49번길    야채    경기도
3    차동혁        전라북도 정읍시 순촌1길    학교   전라북도
4    주남현     서울특별시 은평구 갈현로23길   초보자  서울특별시
..   ...                  ...   ...    ...
995  허철현       충청남도 태안군 정주내4길   영향력   충청남도
996  성병선     경기도 광주시 도지울길13번길    흉내    경기도
997  한성균       부산광역시 영도구 청학북로   스웨터  부산광역시
998  양대환         강원도 춘천시 하중도길    남북    강원도
999  이종봉       충청북도 단양군 여울목2길  해외여행   충청북도

[1000 rows x 4 columns]

In [23]:
df['역순'] = df.답안.apply(lambda a: a[::-1])
df

      이름                   주소    답안   광역단체    역순
0    류동영        경상북도 청도군 뒷마2길    메뉴   경상북도    뉴메
1    유지수        경상북도 문경시 청암3길   목욕탕   경상북도   탕욕목
2    권민식  경기도 안양시 동안구 동편로49번길    야채    경기도    채야
3    차동혁        전라북도 정읍시 순촌1길    학교   전라북도    교학
4    주남현     서울특별시 은평구 갈현로23길   초보자  서울특별시   자보초
..   ...                  ...   ...    ...   ...
995  허철현       충청남도 태안군 정주내4길   영향력   충청남도   력향영
996  성병선     경기도 광주시 도지울길13번길    흉내    경기도    내흉
997  한성균       부산광역시 영도구 청학북로   스웨터  부산광역시   터웨스
998  양대환         강원도 춘천시 하중도길    남북    강원도    북남
999  이종봉       충청북도 단양군 여울목2길  해외여행   충청북도  행여외해

[1000 rows x 5 columns]

In [28]:
cond1 = df.답안.apply(lambda a: len(a)==3)
cond2 = df['답안'] == df['역순']
ret = df.loc[cond1 & cond2, '광역단체']
ret

35     서울특별시
41     인천광역시
57     서울특별시
617      경기도
917      강원도
Name: 광역단체, dtype: object

In [29]:
df[cond1]

      이름                    주소   답안   광역단체   역순
1    유지수         경상북도 문경시 청암3길  목욕탕   경상북도  탕욕목
4    주남현      서울특별시 은평구 갈현로23길  초보자  서울특별시  자보초
6    심상태         충청남도 서산시 상홍1길  라이터   충청남도  터이라
13   심민호      광주광역시 광산구 빛동6로가길  위험성  광주광역시  성험위
14   곽상남  부산광역시 금정구 중앙대로2035번길  레이저  부산광역시  저이레
..   ...                   ...  ...    ...  ...
986  심현민         전라북도 완주군 신지암로  상대편   전라북도  편대상
987  배득종   부산광역시 사하구 다대로385번안길  이론적  부산광역시  적론이
990  차제윤    서울특별시 강북구 4.19로11길  방송사  서울특별시  사송방
995  허철현        충청남도 태안군 정주내4길  영향력   충청남도  력향영
997  한성균        부산광역시 영도구 청학북로  스웨터  부산광역시  터웨스

[442 rows x 5 columns]

In [30]:
df[cond2]

      이름                    주소   답안   광역단체   역순
35   강승주     서울특별시 용산구 독서당로29길  기러기  서울특별시  기러기
41   백서하   인천광역시 강화군 교동북로169번길  토마토  인천광역시  토마토
57   오우진     서울특별시 노원구 동일로193길  스위스  서울특별시  스위스
617  정성빈  경기도 성남시 분당구 발이봉로11번길  인도인    경기도  인도인
917  차용석      강원도 횡성군 수남로108번길  별똥별    강원도  별똥별

In [31]:
ret.value_counts()

서울특별시    2
인천광역시    1
경기도      1
강원도      1
Name: 광역단체, dtype: int64

In [33]:
data = [
    ['mom', 'cat01', 'cat-01', '   cat', 'cat01'],
    ['get', 'dog02', 'dog-01', '    dog', '01cat'],
    ['pandas', 'cow01', 'rabbit-01', '  cow', 'dog01'],
    ['level', 'cow02', 'dog-02', 'cow', 'cow01']
]
df = pd.DataFrame(data, columns=list('ABCDE'))
df

        A      B          C        D      E
0     mom  cat01     cat-01      cat  cat01
1     get  dog02     dog-01      dog  01cat
2  pandas  cow01  rabbit-01      cow  dog01
3   level  cow02     dog-02      cow  cow01

In [34]:
df['A'].apply(len)

0    3
1    3
2    6
3    5
Name: A, dtype: int64

In [35]:
df['A'].str.len()

0    3
1    3
2    6
3    5
Name: A, dtype: int64

In [36]:
df['B'].apply(lambda s: s[:3])

0    cat
1    dog
2    cow
3    cow
Name: B, dtype: object

In [37]:
df['B'].str[:3]

0    cat
1    dog
2    cow
3    cow
Name: B, dtype: object

In [40]:
df

        A      B          C        D      E
0     mom  cat01     cat-01      cat  cat01
1     get  dog02     dog-01      dog  01cat
2  pandas  cow01  rabbit-01      cow  dog01
3   level  cow02     dog-02      cow  cow01

In [38]:
df['D'].apply(lambda x: 'cat' in x)

0     True
1    False
2    False
3    False
Name: D, dtype: bool

In [39]:
# cat or dog 포함
df['D'].str.contains(r'cat|dog')

0     True
1     True
2    False
3    False
Name: D, dtype: bool

In [41]:
# cat으로 시작
df['D'].str.contains(r'^cat')

0    False
1    False
2    False
3    False
Name: D, dtype: bool

In [42]:
# cat으로 종료
df['D'].str.contains(r'cat$')

0     True
1    False
2    False
3    False
Name: D, dtype: bool

In [44]:
df['E'].str.extract(r'(cat|dog)')

     0
0  cat
1  cat
2  dog
3  NaN

In [48]:
# D컬럼에서 cat or dog 가 들어갔는지 apply 함수를 이용해 출력하시오
cond1 = df['D'].apply(lambda s: 'cat' in s)
cond2 = df['D'].apply(lambda s: 'dog' in s)
cond1 | cond2

0     True
1     True
2    False
3    False
Name: D, dtype: bool

In [49]:
# D컬럼에서 cat or dog 가 들어갔는지 contains 함수를 이용해 출력하시오
df['D'].str.contains(r'cat|dog')

0     True
1     True
2    False
3    False
Name: D, dtype: bool

In [51]:
# D컬럼에서 cat으로 종료하는지 apply함수를 이용해 출력하시오
df['D'].apply(lambda s: s[-3:]=='cat')

0     True
1    False
2    False
3    False
Name: D, dtype: bool

In [52]:
df['D'].str.contains(r'cat$')

0     True
1    False
2    False
3    False
Name: D, dtype: bool

In [53]:
data3 = [
    ['강승주', 'A', '할인'],
    ['송중기', 'B', '할인'],
    ['권보아', 'C', '할인'],
    ['강보경', 'C', '할인'],
    ['김판다', 'A', '정상가'],
    ['박효신', 'A', '정상가']
]
df3 = pd.DataFrame(data3, columns=['이름','제품','할인여부'])
df3

    이름 제품 할인여부
0  강승주  A   할인
1  송중기  B   할인
2  권보아  C   할인
3  강보경  C   할인
4  김판다  A  정상가
5  박효신  A  정상가

In [54]:
df4 = pd.DataFrame([[5000, 4000], [1200, 1000], [2000, 1500]], index=list('ABC'), columns=['정상가', '할인'])
df4

    정상가    할인
A  5000  4000
B  1200  1000
C  2000  1500

In [58]:
x = df3.iloc[0]
print(x['제품'])
print(x['할인여부'])

A
할인

In [67]:
df4.loc[x['제품'], x['할인여부']]

4000

In [72]:
df3['가격'] = df3.apply(lambda x: df4.loc[x['제품'], x['할인여부']], axis=1)
df3

    이름 제품 할인여부    가격
0  강승주  A   할인  4000
1  송중기  B   할인  1000
2  권보아  C   할인  1500
3  강보경  C   할인  1500
4  김판다  A  정상가  5000
5  박효신  A  정상가  5000