# Ch08. OECD 국가의 GDP 데이터로 실무의 데이터 다루기

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np


## pandas.filter

In [4]:
data = [
    [0,1,2,3],
    [4,5,6,7],
    [8,9,10,11]
]
df = pd.DataFrame(data=data, columns=['A', 'BC', 'AC', 'DA'])
df

   A  BC  AC  DA
0  0   1   2   3
1  4   5   6   7
2  8   9  10  11

In [6]:
df.filter(like='A')

   A  AC  DA
0  0   2   3
1  4   6   7
2  8  10  11

In [8]:
df.filter(regex=r'^A')

   A  AC
0  0   2
1  4   6
2  8  10

In [10]:
df.filter(regex=r'B|D')

   BC  DA
0   1   3
1   5   7
2   9  11

## OECD 데이터 다루기

In [13]:
url = 'https://raw.githubusercontent.com/panda-kim/csv_files/main/OECD_GDP.csv'

In [19]:
df_ex1 = pd.read_csv(url)
df_ex1

,Unnamed: 0,2019,2019.1,2019.2,2019.3,2019.4,2020,2020.1,2020.2,2020.3,2020.4
0,NaN,1인당 GDP,GDP 성장률,GDP,수입,수출,1인당 GDP,GDP 성장률,GDP,수입,수출
1,국가,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,아시아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,대한민국,31929,2.2,1651.0,503343,542233,31637,-0.9,1638.2,467633,512498
4,이스라엘,43589,3.5,394.7,75697,51899,43611,-2.4,402.0,69810,49372
5,일본,40113,0.3,5064.9,721078,705671,38113,-4.3,4845.2,-,-
6,튀르키예,9127,0.9,761.4,210261,181021,8538,1.8,720.1,219758,169835
7,북아메리카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,캐나다,46327,1.9,1741.6,462392,450805,43242,-5.4,1643.4,419688,392129
9,멕시코,9946,-0.1,1268.9,-,459597,8347,-8.2,1076.2,-,416235
10,미국,65280,2.2,21433.2,2497500,1643100,63544,-3.5,20936.6,-,-
11,남아메리카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,칠레,14742,0.9,279.4,-,69889,13232,-5.8,252.9,-,71728
13,콜롬비아,6425,3.3,323.4,52703,39489,5333,-6.8,271.3,43489,31056
14,코스타리카,12670,2.2,64.0,17573,11864,12077,-4.5,61.5,15237,12443
15,유럽,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,오스트리아,50122,1.4,445.1,184747,178660,48105,-6.6,429.0,171944,168920
17,벨기에,46414,1.8,533.3,427845,446901,44594,-6.3,515.3,396125,419910
18,체코,23490,2.3,250.7,179569,199676,22762,-5.6,243.5,171073,192574
19,덴마크,60213,2.8,350.1,97209,109989,60909,-2.7,355.2,96800,107227
20,에스토니아,23718,5.0,31.5,18022,16112,23312,-2.9,31.0,17335,16375
21,핀란드,48712,1.3,269.0,73718,72839,49041,-2.8,271.2,68085,65668
22,프랑스,40380,1.5,2715.5,647361,559150,38625,-8.1,2603.0,572028,478333
23,독일,46468,0.6,3861.1,1233994,1489430,45724,-4.9,3806.1,1170726,1380378
24,그리스,19151,1.9,205.3,62520,37911,17676,-8.2,189.4,55695,35170
25,헝가리,16733,4.6,163.5,116516,122059,15899,-5.0,155.0,110442,119412
26,아이슬란드,68883,2.6,24.8,6616,5238,59261,-6.6,21.7,5707,4594
27,아일랜드,80779,5.6,398.6,100758,169585,83813,3.4,418.6,97969,178734
28,이탈리아,33567,0.3,2004.9,475979,539708,31676,-8.9,1886.4,421828,495092
29,라트비아,17794,2.0,34.1,17809,14510,17620,-3.6,33.5,17264,15101
30,리투아니아,19555,4.3,54.6,35760,33152,19998,-0.9,55.9,33141,32768
31,룩셈부르크,114685,2.3,71.1,22960,14831,115874,-1.3,73.3,20930,13646
32,네덜란드,52295,1.7,907.1,514851,576786,52304,-3.7,912.2,484785,551303
33,노르웨이,75826,0.9,405.5,86152,104004,67294,-0.8,362.0,81352,82743
34,폴란드,15695,4.5,595.9,265260,266574,15656,-2.7,594.2,257064,270939
35,포르투갈,23285,2.5,239.5,89539,67064,22440,-7.6,231.3,77515,61510
36,슬로바키아,19273,2.5,105.1,89929,88736,19157,-4.8,104.6,86476,83272
37,슬로베니아,25941,3.2,54.2,37575,37543,25180,-5.5,52.9,32965,34300
38,스페인,29565,2.0,1393.5,372424,332965,27057,-10.8,1281.2,325193,306752
39,스웨덴,51687,1.4,531.3,158835,161089,51926,-2.8,537.6,148940,154297
40,스위스,85300,1.1,731.5,277810,313913,86602,-2.9,748.0,291721,319226
41,영국,42354,1.4,2830.8,622640,443715,40285,-9.8,2707.7,543961,381130
42,오세아니아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,오스트레일리아,55057,2.2,1396.6,154043,271006,51812,-0.3,1330.9,146522,250570
44,뉴질랜드,41999,1.6,209.1,42362,39516,41792,1.0,212.5,37135,38897

In [20]:
df_ex1 = pd.read_csv(url,header=[0,1])
df_ex1

   Unnamed: 0_level_0      2019                                       \
   Unnamed: 0_level_1   1인당 GDP GDP 성장률      GDP       수입         수출
0                  국가       NaN     NaN      NaN      NaN        NaN
1                 아시아       NaN     NaN      NaN      NaN        NaN
2                대한민국   31929.0     2.2   1651.0   503343   542233.0
3                이스라엘   43589.0     3.5    394.7    75697    51899.0
4                  일본   40113.0     0.3   5064.9   721078   705671.0
5                튀르키예    9127.0     0.9    761.4   210261   181021.0
6               북아메리카       NaN     NaN      NaN      NaN        NaN
7                 캐나다   46327.0     1.9   1741.6   462392   450805.0
8                 멕시코    9946.0    -0.1   1268.9        -   459597.0
9                  미국   65280.0     2.2  21433.2  2497500  1643100.0
10              남아메리카       NaN     NaN      NaN      NaN        NaN
11                 칠레   14742.0     0.9    279.4        -    69889.0
12               콜롬비아    6425.0     3.3    323.4    52703    39489.0
13              코스타리카   12670.0     2.2     64.0    17573    11864.0
14                 유럽       NaN     NaN      NaN      NaN        NaN
15              오스트리아   50122.0     1.4    445.1   184747   178660.0
16                벨기에   46414.0     1.8    533.3   427845   446901.0
17                 체코   23490.0     2.3    250.7   179569   199676.0
18                덴마크   60213.0     2.8    350.1    97209   109989.0
19              에스토니아   23718.0     5.0     31.5    18022    16112.0
20                핀란드   48712.0     1.3    269.0    73718    72839.0
21                프랑스   40380.0     1.5   2715.5   647361   559150.0
22                 독일   46468.0     0.6   3861.1  1233994  1489430.0
23                그리스   19151.0     1.9    205.3    62520    37911.0
24                헝가리   16733.0     4.6    163.5   116516   122059.0
25              아이슬란드   68883.0     2.6     24.8     6616     5238.0
26               아일랜드   80779.0     5.6    398.6   100758   169585.0
27               이탈리아   33567.0     0.3   2004.9   475979   539708.0
28               라트비아   17794.0     2.0     34.1    17809    14510.0
29              리투아니아   19555.0     4.3     54.6    35760    33152.0
30              룩셈부르크  114685.0     2.3     71.1    22960    14831.0
31               네덜란드   52295.0     1.7    907.1   514851   576786.0
32               노르웨이   75826.0     0.9    405.5    86152   104004.0
33                폴란드   15695.0     4.5    595.9   265260   266574.0
34               포르투갈   23285.0     2.5    239.5    89539    67064.0
35              슬로바키아   19273.0     2.5    105.1    89929    88736.0
36              슬로베니아   25941.0     3.2     54.2    37575    37543.0
37                스페인   29565.0     2.0   1393.5   372424   332965.0
38                스웨덴   51687.0     1.4    531.3   158835   161089.0
39                스위스   85300.0     1.1    731.5   277810   313913.0
40                 영국   42354.0     1.4   2830.8   622640   443715.0
41              오세아니아       NaN     NaN      NaN      NaN        NaN
42            오스트레일리아   55057.0     2.2   1396.6   154043   271006.0
43               뉴질랜드   41999.0     1.6    209.1    42362    39516.0

        2020
     1인당 GDP GDP 성장률      GDP       수입       수출
0        NaN     NaN      NaN      NaN      NaN
1        NaN     NaN      NaN      NaN      NaN
2    31637.0    -0.9   1638.2   467633   512498
3    43611.0    -2.4    402.0    69810    49372
4    38113.0    -4.3   4845.2        -        -
5     8538.0     1.8    720.1   219758   169835
6        NaN     NaN      NaN      NaN      NaN
7    43242.0    -5.4   1643.4   419688   392129
8     8347.0    -8.2   1076.2        -   416235
9    63544.0    -3.5  20936.6        -        -
10       NaN     NaN      NaN      NaN      NaN
11   13232.0    -5.8    252.9        -    71728
12    5333.0    -6.8    271.3    43489    31056
13   12077.0    -4.5     61.5    15237    12443
14       NaN     NaN      NaN      NaN      NaN
15   48105.0    -6.6    429.0   171944   168920
16   44594.0    -6.3    515.3   396125   419910
17   22762.0    -5.6    243.5   171073   192574
18   60909.0    -2.7    355.2    96800   107227
19   23312.0    -2.9     31.0    17335    16375
20   49041.0    -2.8    271.2    68085    65668
21   38625.0    -8.1   2603.0   572028   478333
22   45724.0    -4.9   3806.1  1170726  1380378
23   17676.0    -8.2    189.4    55695    35170
24   15899.0    -5.0    155.0   110442   119412
25   59261.0    -6.6     21.7     5707     4594
26   83813.0     3.4    418.6    97969   178734
27   31676.0    -8.9   1886.4   421828   495092
28   17620.0    -3.6     33.5    17264    15101
29   19998.0    -0.9     55.9    33141    32768
30  115874.0    -1.3     73.3    20930    13646
31   52304.0    -3.7    912.2   484785   551303
32   67294.0    -0.8    362.0    81352    82743
33   15656.0    -2.7    594.2   257064   270939
34   22440.0    -7.6    231.3    77515    61510
35   19157.0    -4.8    104.6    86476    83272
36   25180.0    -5.5     52.9    32965    34300
37   27057.0   -10.8   1281.2   325193   306752
38   51926.0    -2.8    537.6   148940   154297
39   86602.0    -2.9    748.0   291721   319226
40   40285.0    -9.8   2707.7   543961   381130
41       NaN     NaN      NaN      NaN      NaN
42   51812.0    -0.3   1330.9   146522   250570
43   41792.0     1.0    212.5    37135    38897

In [21]:
df_ex1 = pd.read_csv(url,header=[0,1], index_col=0)
df_ex1

             2019                                           2020          \
          1인당 GDP GDP 성장률      GDP       수입         수출   1인당 GDP GDP 성장률
국가
아시아           NaN     NaN      NaN      NaN        NaN       NaN     NaN
대한민국      31929.0     2.2   1651.0   503343   542233.0   31637.0    -0.9
이스라엘      43589.0     3.5    394.7    75697    51899.0   43611.0    -2.4
일본        40113.0     0.3   5064.9   721078   705671.0   38113.0    -4.3
튀르키예       9127.0     0.9    761.4   210261   181021.0    8538.0     1.8
북아메리카         NaN     NaN      NaN      NaN        NaN       NaN     NaN
캐나다       46327.0     1.9   1741.6   462392   450805.0   43242.0    -5.4
멕시코        9946.0    -0.1   1268.9        -   459597.0    8347.0    -8.2
미국        65280.0     2.2  21433.2  2497500  1643100.0   63544.0    -3.5
남아메리카         NaN     NaN      NaN      NaN        NaN       NaN     NaN
칠레        14742.0     0.9    279.4        -    69889.0   13232.0    -5.8
콜롬비아       6425.0     3.3    323.4    52703    39489.0    5333.0    -6.8
코스타리카     12670.0     2.2     64.0    17573    11864.0   12077.0    -4.5
유럽            NaN     NaN      NaN      NaN        NaN       NaN     NaN
오스트리아     50122.0     1.4    445.1   184747   178660.0   48105.0    -6.6
벨기에       46414.0     1.8    533.3   427845   446901.0   44594.0    -6.3
체코        23490.0     2.3    250.7   179569   199676.0   22762.0    -5.6
덴마크       60213.0     2.8    350.1    97209   109989.0   60909.0    -2.7
에스토니아     23718.0     5.0     31.5    18022    16112.0   23312.0    -2.9
핀란드       48712.0     1.3    269.0    73718    72839.0   49041.0    -2.8
프랑스       40380.0     1.5   2715.5   647361   559150.0   38625.0    -8.1
독일        46468.0     0.6   3861.1  1233994  1489430.0   45724.0    -4.9
그리스       19151.0     1.9    205.3    62520    37911.0   17676.0    -8.2
헝가리       16733.0     4.6    163.5   116516   122059.0   15899.0    -5.0
아이슬란드     68883.0     2.6     24.8     6616     5238.0   59261.0    -6.6
아일랜드      80779.0     5.6    398.6   100758   169585.0   83813.0     3.4
이탈리아      33567.0     0.3   2004.9   475979   539708.0   31676.0    -8.9
라트비아      17794.0     2.0     34.1    17809    14510.0   17620.0    -3.6
리투아니아     19555.0     4.3     54.6    35760    33152.0   19998.0    -0.9
룩셈부르크    114685.0     2.3     71.1    22960    14831.0  115874.0    -1.3
네덜란드      52295.0     1.7    907.1   514851   576786.0   52304.0    -3.7
노르웨이      75826.0     0.9    405.5    86152   104004.0   67294.0    -0.8
폴란드       15695.0     4.5    595.9   265260   266574.0   15656.0    -2.7
포르투갈      23285.0     2.5    239.5    89539    67064.0   22440.0    -7.6
슬로바키아     19273.0     2.5    105.1    89929    88736.0   19157.0    -4.8
슬로베니아     25941.0     3.2     54.2    37575    37543.0   25180.0    -5.5
스페인       29565.0     2.0   1393.5   372424   332965.0   27057.0   -10.8
스웨덴       51687.0     1.4    531.3   158835   161089.0   51926.0    -2.8
스위스       85300.0     1.1    731.5   277810   313913.0   86602.0    -2.9
영국        42354.0     1.4   2830.8   622640   443715.0   40285.0    -9.8
오세아니아         NaN     NaN      NaN      NaN        NaN       NaN     NaN
오스트레일리아   55057.0     2.2   1396.6   154043   271006.0   51812.0    -0.3
뉴질랜드      41999.0     1.6    209.1    42362    39516.0   41792.0     1.0


             GDP       수입       수출
국가
아시아          NaN      NaN      NaN
대한민국      1638.2   467633   512498
이스라엘       402.0    69810    49372
일본        4845.2        -        -
튀르키예       720.1   219758   169835
북아메리카        NaN      NaN      NaN
캐나다       1643.4   419688   392129
멕시코       1076.2        -   416235
미국       20936.6        -        -
남아메리카        NaN      NaN      NaN
칠레         252.9        -    71728
콜롬비아       271.3    43489    31056
코스타리카       61.5    15237    12443
유럽           NaN      NaN      NaN
오스트리아      429.0   171944   168920
벨기에        515.3   396125   419910
체코         243.5   171073   192574
덴마크        355.2    96800   107227
에스토니아       31.0    17335    16375
핀란드        271.2    68085    65668
프랑스       2603.0   572028   478333
독일        3806.1  1170726  1380378
그리스        189.4    55695    35170
헝가리        155.0   110442   119412
아이슬란드       21.7     5707     4594
아일랜드       418.6    97969   178734
이탈리아      1886.4   421828   495092
라트비아        33.5    17264    15101
리투아니아       55.9    33141    32768
룩셈부르크       73.3    20930    13646
네덜란드       912.2   484785   551303
노르웨이       362.0    81352    82743
폴란드        594.2   257064   270939
포르투갈       231.3    77515    61510
슬로바키아      104.6    86476    83272
슬로베니아       52.9    32965    34300
스페인       1281.2   325193   306752
스웨덴        537.6   148940   154297
스위스        748.0   291721   319226
영국        2707.7   543961   381130
오세아니아        NaN      NaN      NaN
오스트레일리아   1330.9   146522   250570
뉴질랜드       212.5    37135    38897

In [24]:
df_ex1.stack(0, dropna=False)

         국가 level_1  1인당 GDP     GDP  GDP 성장률
0       아시아    2019      NaN     NaN      NaN
1       아시아    2020      NaN     NaN      NaN
2      대한민국    2019  31929.0  1651.0      2.2
3      대한민국    2020  31637.0  1638.2     -0.9
4      이스라엘    2019  43589.0   394.7      3.5
..      ...     ...      ...     ...      ...
81    오세아니아    2020      NaN     NaN      NaN
82  오스트레일리아    2019  55057.0  1396.6      2.2
83  오스트레일리아    2020  51812.0  1330.9     -0.3
84     뉴질랜드    2019  41999.0   209.1      1.6
85     뉴질랜드    2020  41792.0   212.5      1.0

[86 rows x 5 columns]

In [25]:
df_ex1.stack(0, dropna=False).filter(like='GDP')

              1인당 GDP     GDP  GDP 성장률
국가
아시아     2019      NaN     NaN      NaN
        2020      NaN     NaN      NaN
대한민국    2019  31929.0  1651.0      2.2
        2020  31637.0  1638.2     -0.9
이스라엘    2019  43589.0   394.7      3.5
...               ...     ...      ...
오세아니아   2020      NaN     NaN      NaN
오스트레일리아 2019  55057.0  1396.6      2.2
        2020  51812.0  1330.9     -0.3
뉴질랜드    2019  41999.0   209.1      1.6
        2020  41792.0   212.5      1.0

[86 rows x 3 columns]

In [26]:
df_ex1.stack(0, dropna=False).filter(like='GDP').reset_index()

         국가 level_1  1인당 GDP     GDP  GDP 성장률
0       아시아    2019      NaN     NaN      NaN
1       아시아    2020      NaN     NaN      NaN
2      대한민국    2019  31929.0  1651.0      2.2
3      대한민국    2020  31637.0  1638.2     -0.9
4      이스라엘    2019  43589.0   394.7      3.5
..      ...     ...      ...     ...      ...
81    오세아니아    2020      NaN     NaN      NaN
82  오스트레일리아    2019  55057.0  1396.6      2.2
83  오스트레일리아    2020  51812.0  1330.9     -0.3
84     뉴질랜드    2019  41999.0   209.1      1.6
85     뉴질랜드    2020  41792.0   212.5      1.0

[86 rows x 5 columns]

In [27]:
df_ex2 = (df_ex1
          .stack(0, dropna=False)
          .filter(like='GDP')
          .reset_index()
          .rename(columns={'level_1':'연도'})
          )
df_ex2

         국가    연도  1인당 GDP     GDP  GDP 성장률
0       아시아  2019      NaN     NaN      NaN
1       아시아  2020      NaN     NaN      NaN
2      대한민국  2019  31929.0  1651.0      2.2
3      대한민국  2020  31637.0  1638.2     -0.9
4      이스라엘  2019  43589.0   394.7      3.5
..      ...   ...      ...     ...      ...
81    오세아니아  2020      NaN     NaN      NaN
82  오스트레일리아  2019  55057.0  1396.6      2.2
83  오스트레일리아  2020  51812.0  1330.9     -0.3
84     뉴질랜드  2019  41999.0   209.1      1.6
85     뉴질랜드  2020  41792.0   212.5      1.0

[86 rows x 5 columns]

In [28]:
cond1 = df_ex2['GDP'].isnull()
df_ex2[cond1]

       국가    연도  1인당 GDP  GDP  GDP 성장률
0     아시아  2019      NaN  NaN      NaN
1     아시아  2020      NaN  NaN      NaN
10  북아메리카  2019      NaN  NaN      NaN
11  북아메리카  2020      NaN  NaN      NaN
18  남아메리카  2019      NaN  NaN      NaN
19  남아메리카  2020      NaN  NaN      NaN
26     유럽  2019      NaN  NaN      NaN
27     유럽  2020      NaN  NaN      NaN
80  오세아니아  2019      NaN  NaN      NaN
81  오세아니아  2020      NaN  NaN      NaN

In [32]:
df_ex2['구분'] = df_ex2['국가'].mask(~cond1).fillna(method='ffill')
df_ex2

         국가    연도  1인당 GDP     GDP  GDP 성장률     구분
0       아시아  2019      NaN     NaN      NaN    아시아
1       아시아  2020      NaN     NaN      NaN    아시아
2      대한민국  2019  31929.0  1651.0      2.2    아시아
3      대한민국  2020  31637.0  1638.2     -0.9    아시아
4      이스라엘  2019  43589.0   394.7      3.5    아시아
..      ...   ...      ...     ...      ...    ...
81    오세아니아  2020      NaN     NaN      NaN  오세아니아
82  오스트레일리아  2019  55057.0  1396.6      2.2  오세아니아
83  오스트레일리아  2020  51812.0  1330.9     -0.3  오세아니아
84     뉴질랜드  2019  41999.0   209.1      1.6  오세아니아
85     뉴질랜드  2020  41792.0   212.5      1.0  오세아니아

[86 rows x 6 columns]

In [34]:
df_ex2[~cond1]

         국가    연도  1인당 GDP     GDP  GDP 성장률     구분
2      대한민국  2019  31929.0  1651.0      2.2    아시아
3      대한민국  2020  31637.0  1638.2     -0.9    아시아
4      이스라엘  2019  43589.0   394.7      3.5    아시아
5      이스라엘  2020  43611.0   402.0     -2.4    아시아
6        일본  2019  40113.0  5064.9      0.3    아시아
..      ...   ...      ...     ...      ...    ...
79       영국  2020  40285.0  2707.7     -9.8     유럽
82  오스트레일리아  2019  55057.0  1396.6      2.2  오세아니아
83  오스트레일리아  2020  51812.0  1330.9     -0.3  오세아니아
84     뉴질랜드  2019  41999.0   209.1      1.6  오세아니아
85     뉴질랜드  2020  41792.0   212.5      1.0  오세아니아

[76 rows x 6 columns]

In [36]:
df_ex3 = df_ex2[~cond1].reset_index(drop=True)
df_ex3

         국가    연도  1인당 GDP     GDP  GDP 성장률     구분
0      대한민국  2019  31929.0  1651.0      2.2    아시아
1      대한민국  2020  31637.0  1638.2     -0.9    아시아
2      이스라엘  2019  43589.0   394.7      3.5    아시아
3      이스라엘  2020  43611.0   402.0     -2.4    아시아
4        일본  2019  40113.0  5064.9      0.3    아시아
..      ...   ...      ...     ...      ...    ...
71       영국  2020  40285.0  2707.7     -9.8     유럽
72  오스트레일리아  2019  55057.0  1396.6      2.2  오세아니아
73  오스트레일리아  2020  51812.0  1330.9     -0.3  오세아니아
74     뉴질랜드  2019  41999.0   209.1      1.6  오세아니아
75     뉴질랜드  2020  41792.0   212.5      1.0  오세아니아

[76 rows x 6 columns]

In [37]:
df_ex3.pivot_table('GDP 성장률', index='구분', columns='연도', aggfunc='max')

연도     2019  2020
구분
남아메리카   3.3  -4.5
북아메리카   2.2  -3.5
아시아     3.5   1.8
오세아니아   2.2   1.0
유럽      5.6   3.4

In [38]:
df_ex3.pivot_table('GDP 성장률', index='구분', columns='연도',
                   aggfunc=lambda x: df_ex3.loc[x.idxmax(), '국가'])

연도        2019   2020
구분
남아메리카     콜롬비아  코스타리카
북아메리카       미국     미국
아시아       이스라엘   튀르키예
오세아니아  오스트레일리아   뉴질랜드
유럽        아일랜드   아일랜드